<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-nobg">
    <div class="app-body-top" style="padding: 3em 0 0em 0;">
        <div class="get-back" >
            <a ng-click="licenseScanCtrl.goBack()">
                BACK
            </a>
        </div>
        <div ng-show="{{licenseScanCtrl.devMode}}">
            <button class="btn btn-info btn-lg" data-toggle="modal" ng-click="licenseScanCtrl.scanLicense()">Scan</button>
            <button class="btn btn-info btn-lg" data-toggle="modal" ng-click="licenseScanCtrl.errorScan()">Error</button>
        </div>
    </div><!--END app-body-top-->
    <!--READY TO SCAN NOTIFICATION-->
    <div class="final-payment-status clearfix">
        <div class="final-payment-statusL">
            <img src="img/c-card6.png" alt="Ford">
        </div>
        <div class="final-payment-statusR">
            <h1>Scan License Now!</h1>
            <h3>Scan license to begin the check-in process.</h3>
        </div>
    </div>

    <!-- LICENSE ERROR NOTIFICATION MODEL POPUP -->
    <div class="modal fade" id="invalidLicensePopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="final-payment-status clearfix popup">
                        <div class="final-payment-statusL">
                            <img src="img/c-card1.png" alt="Ford">
                        </div>
                        <div class="final-payment-statusR">
                            <h1 style="color:red;">Scan Error!</h1>
                            <h3>Please re-scan your license.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- LICENSE ERROR NOTIFICATION MODEL POPUP -->
    <div class="modal fade" id="invalidLicensePopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="final-payment-status clearfix popup">
                        <div class="final-payment-statusL">
                            <img src="img/c-card1.png" alt="Ford">
                        </div>
                        <div class="final-payment-statusR">
                            <h1 style="color:red;">Scan Error!</h1>
                            <h3>Please re-scan your license.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--LICENSE PROCESS NOTIFICATION-->
    <div class="final-payment-status clearfix" style="display:none;">
        <div class="final-payment-statusL" style="text-align:center;">
            <img class="spinimg img-responsive center-block" src="img/spin-pay.svg" alt="Ford">
        </div>
        <div class="final-payment-statusR">
            <h1 style="color:#2d96cd;">Processing!</h1>
            <h3>Please wait for license to process.</h3>
        </div>
    </div>


    <!-- Modal for unableToRead-->
    <div id="unableToReadPopup" class="modal fade" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Unable To Read</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <h2 id="popup">
                            Unable to Read.<br /> Please continue filling the form manually.
                        </h2>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="scan-instruct-wrap">
        <img src="img/newscaninstr.jpg" alt="Ford" class="img-responsive center-block" style="width:75% !important;" />
        <div class="lic-scan-progress">
            <img src="img/arrow1.gif" alt="Ford" class="img-responsive center center-block" style="width:5% !important;" />
        </div>
    </div>
    <div class="manual-service-action" >
        <a ng-disabled="{{licenseScanCtrl.isNextButtonDisabled}}" ng-click="licenseScanCtrl.change_page()" ng-href="#license-confirm">&nbsp;</a>
    </div>


</div><!--END app-body-inner-->