<div class="app-body-inner-nobg">
    <div class="app-body-top">
        <h1>Service Payment</h1>
        <h4>Please review service payment details.</h4>
    </div><!--END app-body-top-->
    <div class="vehicle-block vehicle-block-manual clearfix" style="margin: 0 auto 0 auto">
        <div class="vehicle-blockR vehicle-manualR">
            <h4 style="padding: 0em 0 0em 0;">{{paymentSummaryCtrl.vehicle_name}}</h4>
            <div class="vehicle-blockMan-imgwrap">
                <span class="helperMan"></span>
                <img src="img/car-focus.png" alt="Ford" />
            </div>
            <div class="vehicle-blockR-in clearfix">
                <div class="vehicle-blockR-inL">&nbsp;</div>
                <div class="vehicle-blockR-inR">
                    <div class="apt-detail-row">
                        <h3><span class="heavy">VIN: &nbsp;</span>{{paymentSummaryCtrl.vin}}</h3>
                    </div>
                    <div class="apt-detail-row">
                        <h3><span class="heavy">MILES: &nbsp;</span>{{paymentSummaryCtrl.mileage|number}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="payment-approve-wrap">
        <div class="payment-approve-wrap-top clearfix">
            <div class="payment-approve-wrap-topL">
                <h3>{{paymentSummaryCtrl.customerDict['first_name']}} {{paymentSummaryCtrl.customerDict['last_name']}}</h3>
                <h4>{{paymentSummaryCtrl.customerDict['street']}}</h4>
                <h4>{{paymentSummaryCtrl.customerDict['city']}}, {{paymentSummaryCtrl.customerDict['state']}} {{paymentSummaryCtrl.customerDict['zipcode']}}</h4>
            </div>
            <div class="payment-approve-wrap-topR">
                <h3>RO#: 0900029</h3>
                <h4>1/12/17</h4>
                <h4>12:24 PM</h4>
            </div>
        </div>
        <!--<div class="payment-approve-wrap-mid clearfix">-->
            <!--<div class="payment-approve-wrap-mid-row clearfix" ng-repeat="service in paymentSummaryCtrl.services">-->
                <!--<div class="payment-approve-wrap-mid-rowL">{{ service.name }}</div>-->
                <!--<div class="payment-approve-wrap-mid-rowR">${{ service.price|number:2 }}</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="payment-approve-wrap-mid clearfix">-->
            <!--<div class="payment-approve-wrap-mid-row clearfix" ng-repeat="manual_service in paymentSummaryCtrl.manual_services_list">-->
                <!--<div class="payment-approve-wrap-mid-rowL">{{ manual_service['name'] }}</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="payment-approve-wrap-bottom clearfix">
            <div class="payment-approve-wrap-bottomL">Total</div>
            <div class="payment-approve-wrap-bottomR">${{paymentSummaryCtrl.service_total|number:2}}</div>
        </div>
    </div>
    <div class="manual-service-action">
        <a class="pay-now" ng-href="#payment-scan" ng-show="paymentSummaryCtrl.iscardReaderServiceAvailable">&nbsp;</a>
    </div>

    <!-- Modal for errorPaymentServicePopup-->
    <div id="errorPaymentServicePopup" class="modal fade" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Unable To Payment</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <h2 id="popup">
                            Payment device is not available.
                        </h2>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>