
<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-nobg">
    

	<div class="alt-top-block">
		<h4 style="padding: 0em 0 0em 0;">{{appointmentCommentCtrl.vehicle_name}}</h4>
    	<div ng-if="appointmentCommentCtrl.vehicle.image" class="alt-top-block-imgwrap">
          <span class="helperMan2"></span>
           <img ng-src="{{appointmentCommentCtrl.vehicle.image}}" alt="Ford" />
        </div>
        <div class="alt-top-block-in clearfix">
            <div class="alt-top-block-inL">&nbsp;</div>
            <div class="alt-top-block-inR">
                <div class="alt-top-block-in-row" ng-if="appointmentCommentCtrl.vin != null">
                    <h3><span class="heavy">VIN: &nbsp;</span>{{appointmentCommentCtrl.vin}}</h3>
                </div>
                <div class="alt-top-block-in-row" ng-if="appointmentCommentCtrl.mileage != null">
                    <h3><span class="heavy">MILES: &nbsp;</span>{{appointmentCommentCtrl.mileage|number}}</h3>
                </div>
            </div>

        </div>
    </div>

    <div class="app-body-top" style="padding: 1em 0 2.5em 0;">
        <h1>Appointment Request Details</h1>
        <h4>Please provide details about your requested appointment.</h4>
    </div><!--END app-body-top-->

  
    <div class="service-comment-row appt-extra-info clearfix">
        <div class="service-comment-rowR" style="width:100%; padding:0">
            <textarea class="goKeyMail" ng-model="appointmentCommentCtrl.appointment_comment" ng-init="appointmentCommentCtrl.comment = ''" placeholder="Please describe appointment details..."></textarea>
        </div>
    </div>


    <div class="manual-service-action">
        <a class="go-back" ng-click="appointmentCommentCtrl.backToService()">&nbsp;</a>
        <a class="go-next" ng-click="appointmentCommentCtrl.save_choices()">&nbsp;</a>
    </div>
    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->
			   
			    
				