<div class="app-body-inner-bg" >
    <div class="app-body-top">
        <div class="get-back">
            <a ng-click="drilldownCtrl.backTohome()">
                BACK
            </a>
        </div>
        <h1>Vehicle Information</h1>
        <h4>Please enter your information below to begin the process.</h4>
    </div><!--END app-body-top-->
    <div class="register-block-wrap manual-reg-vehicle clearfix">
        <style>
            .ui-select-bootstrap {
                margin-top: 18px;
            }

                .ui-select-bootstrap > .ui-select-match > .btn {
                    height: 44px;
                    padding: 6px 12px;
                    font-family: 'Antenna';
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    font-size: 18px;
                }

            .register-block-wrap input {
                border-radius: 4px;
                border: 1px solid #ccc;
                font-family: 'Antenna';
                margin-top: 15px;
            }

                .register-block-wrap input[type="text"], .register-block-wrap input[type="number"] {
                    padding: .65em;
                }

                .register-block-wrap input[type="submit"] {
                    background: #5ebbe9; /* Old browsers */
                    background: -moz-linear-gradient(top, #5ebbe9 0%, #269cda 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #5ebbe9 0%,#269cda 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #5ebbe9 0%,#269cda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    border: 0px;
                    border-radius: 4px;
                    margin: 0 auto;
                    color: #fff;
                    font-weight: 700;
                    padding: .65em;
                }
        </style>
        <!--VEHICLE DRILLDOWN-->
        <form name="drilldownform" class="css-form" ng-submit="drilldownform.$valid && drilldownCtrl.submit()" novalidate>
            <ui-select ng-model="drilldownCtrl.year.selected" style="width: 100%;" on-select="drilldownCtrl.updateMakes(drilldownCtrl.year.selected)" name="year" required>
                <ui-select-match placeholder="YEAR">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="year in drilldownCtrl.years">
                    <span ng-bind-html="year.name"></span>
                </ui-select-choices>
            </ui-select>
            <div ng-show="drilldownform.$submitted || drilldownform.year.$touched">
                <div ng-show="drilldownform.year.$error.required">Please choose a year.</div>
            </div>
            <ui-select ng-model="drilldownCtrl.make.selected" style="width: 100%;" on-select="drilldownCtrl.updateModels(drilldownCtrl.make.selected)" name="make" required>
                <ui-select-match placeholder="MAKE">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="make in drilldownCtrl.makes">
                    <span ng-bind-html="make.name"></span>
                </ui-select-choices>
            </ui-select>
            <div ng-show="drilldownform.$submitted || drilldownform.make.$touched">
                <div ng-show="drilldownform.make.$error.required">Please choose a make.</div>
            </div>
            <ui-select ng-model="drilldownCtrl.model.selected" style="width: 100%;" on-select="drilldownCtrl.updateSeries(drilldownCtrl.model.selected)" name="model" required>
                <ui-select-match placeholder="MODEL">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="model in drilldownCtrl.models">
                    <span ng-bind-html="model.name"></span>
                </ui-select-choices>
            </ui-select>
            <div ng-show="drilldownform.$submitted || drilldownform.model.$touched">
                <div ng-show="drilldownform.model.$error.required">Please choose a model.</div>
            </div>
            <ui-select ng-model="drilldownCtrl.series.selected" style="width: 100%;" on-select="drilldownCtrl.updateStyles(drilldownCtrl.series.selected)" name="series">
                <ui-select-match placeholder="SERIES">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="series in drilldownCtrl.seriesArray">
                    <span ng-bind-html="series.name"></span>
                </ui-select-choices>
            </ui-select>
            <!--<input type="text" class="goKeyMail" placeholder="Vin" name="vin" ng-model="drilldownCtrl.vin" value="drilldownCtrl.vin" style="width: 100%;">-->
            <input type="number" class="goKeyNumber" placeholder="Mileage" name="mileage" ng-model="drilldownCtrl.mileage" value="drilldownCtrl.mileage" style="width: 100%;">
            <div style="text-align:right; margin-top:15px"><input type="submit" value="Submit"></div>
        </form>
    </div>
    <script src="js/keyboard/keyboard.js"></script>
</div>