<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-nobg">
    <div class="key-claim-top clearfix">
        <div class="key-claim-topL">
            <img src="img/keyexclaim.png" alt="Ford" />
        </div>
        <div class="key-claim-topR">
            <h1 style="color:red;">Get Key Now!</h1>
            <h3>Please retrieve your key to finalize the pick up process.</h3>
        </div>
    </div>
    <div class="key-claim-mid">
        <img src="img/dropinst2.jpg" alt="Ford" class="img-responsive center-block" />
    </div>

    <div class="lic-scan-progress">
        <img src="img/arrow1.gif" alt="Ford" class="img-responsive center center-block" style="width:5% !important;" />
    </div>

      <div class="manual-service-action"> 
        <a ng-href="#" ng-click="keydropPickupCtrl.change_page()">&nbsp;</a>
    </div>


</div><!--END app-body-inner-->