/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color:#000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*----------------FONTS-----------------*/

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Bold.eot');
	src: url('fonts/Antenna-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Bold.woff') format('woff'),
		url('fonts/Antenna-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Regular.eot');
	src: url('fonts/Antenna-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Regular.woff') format('woff'),
		url('fonts/Antenna-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Black.eot');
	src: url('fonts/Antenna-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Black.woff') format('woff'),
		url('fonts/Antenna-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Light.eot');
	src: url('fonts/Antenna-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Light.woff') format('woff'),
		url('fonts/Antenna-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Medium.eot');
	src: url('fonts/Antenna-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Medium.woff') format('woff'),
		url('fonts/Antenna-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


p, h1, h2, h3, h4, h5{
	font-family:Antenna,Helvetica,sans-serif;
}

p{
	font-weight:300;
	color: #506573;
	font-size:13px;
    line-height: 1.4em;
}

/*----------------Clearfix-----------------*/


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}


/* ==========================================================================
   Navigation styles
   ========================================================================== */
#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-top: 1px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 1px solid #fff;
    background:#F3F3F3;
}


.navbar-toggle {
	margin:0;
	border-radius:0;
    padding: 18px 16px;
    border-width: 0px 0px 0px 1px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #454545;
}


.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    width:54px;
    border-right: 1px solid #fff;
}

.navbar-brand img{
	width:65%;
	margin:0 auto;
	padding-top:.55em;
}



@media (min-width: 768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: 0px;
	}
}

@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.navibar{
	display:block;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-top: 1px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 1px solid #fff;
    background:#f0f0f0;
}

.navibarL{
	float:left;
	width:45px;
	height:50px;
	border-left: 0px solid #fff;
    border-right: 1px solid #fff;
}

.navibarR{
	float:right;
	width:45px;
	height:50px;
	border-left: 1px solid #fff;
    border-right: 0px solid #fff;
}

.navibarL a, .navibarR a{
	display:block;
}

.navibarL a img, .navibarR a img{
	width:100%;
}


/*----------------SECTION-----------------*/



.top-line {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 4em;
  position: relative;
  text-align:center;
  background: white;
  -webkit-box-shadow: 0 5px 20px 2px rgba(15,0,35,0.3);
  -moz-box-shadow: 0 5px 20px 2px rgba(15,0,35,0.3);
   box-shadow: 0 5px 20px 2px rgba(15,0,35,0.3);
   z-index: 999999;
}


.top-line img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:105px;
}



#banner {
     height:425px;  
     overflow:hidden;
}

@media only screen and (max-width: 800px) {
	#banner {
	     height:350px;  
	}	
}

@media only screen and (max-width: 600px) {
	#banner {
	     height:250px;  
	}	
}

.banner-wrap{
	width:100%;
	height:430px;  
	background-image: url("../img/BB-1.jpg");
 	background-size: cover;
}

.banner-wrap-in{
	width:100%;
	height:430px;  
	background-image: url("../img/grad1.png");
	repeat:repeat-y;
	background-size: 100%;
}

.banner-wrap-inL{
	width:47%;
	margin-right:3%;
	float:right;
	margin-top:10%;
}


.banner-wrap-inL h3 {
    color: #2d96cd;
    font-size: 0.92em;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom:7px;
}

.banner-wrap-inL h1 {
    color: #fff;
    line-height: 115%;
    font-weight: 900;
    font-size: 2.2em;
    margin-bottom:7px;
}

.banner-wrap-inL h2 {
    color: #ccc;
    font-weight: 300;
    margin-bottom:5px;
 }
 
@media only screen and (max-width: 600px) {
	.banner-wrap-inL h1 {
	    color: #fff;
	    line-height: 115%;
	    font-weight: 900;
	    font-size: 1.8em;
	    margin-bottom:7px;
	}
	.banner-wrap-inL{
		width:67%;
		margin-right:3%;
		float:right;
		margin-top:10%;
	}
	
	.banner-wrap{
		width:100%;
		height:250px;  
	}
	
	.banner-wrap-in{
		width:100%;
		height:250px;  
		background-size: 100%;
	}


}
 
.home-wrapper{
	background: url("../img/BB-2.jpg");
    background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom:57%;
	
}

.home-wrapper-logo{
	padding:4.5% 0 2.75% 0;
	margin:0 auto;
	width:40%;
}

.home-wrapper-logo img{
	width:100%;
}

.home-wrapper-action{
	padding:0;
	margin:0 auto;
	width:78%;
}

.home-wrapper-action-button{
	float:left;
	width:48%;
	margin:0 1%;
}

.home-wrapper-action-button a{
	display:block;
}

.home-wrapper-action-button a img{
	width:100%;
}


.app-body-top{
	text-align:center;
	margin:2em 0 2em;
}


.app-body-top h1{
	font-weight:900;
	font-size:2em;
	margin:0 0 .25em 0;
	text-transform:uppercase;
}

.app-body-top h4{
	color:#999;
	font-size:1em;
}


#service-wrap-scroll {
	height: 1150px;
	max-width: 90%;
	margin: 0 auto;
}

.service-table {
	display:table;
	border-collapse:separate;
	border-spacing:5px;
	table-layout: fixed;
}
.service-row {
	display:table-row;
}
.service-cell {
	display:table-cell;
	padding:0px;
	border:1px solid black;
	width:33.33333%;
}

