#service-wrap-scroll-out {
	height: 910px;
	overflow:hidden;
}

#service-wrap-scroll {
	height: 910px;
	max-width: 90%;
	margin: 0 auto;
}

#service-wrap-scroll-out2 {
	height: 900px;
	max-width: 70%;
	margin: 0 auto;
}


@media only screen and (max-width: 800px) {
	#service-wrap-scroll-out2 {
		height: 370px;
		max-width: 90%;
	}
		
}


.item-container-wrap {
    width: 92%;
    margin:0 auto;
}


.items-container{
    overflow: hidden;
    margin: 0;
}

.service-item-block {
    display: block;
    float: left;
    width: 31.33333%;
    margin:0 1% 2% 1%;
    background: #f3f3f3;
    -webkit-box-shadow:0 1px 5px rgba(15,0,35,0.2);
    -moz-box-shadow:0 1px 5px rgba(15,0,35,0.2);
    box-shadow:0 1px 5px rgba(15,0,35,0.2);
}

.service-item-block-top {
   background:#ffffff;
   background-image: url("../img/batt1.png");
   background-size: cover;
   display:block;
   height:250px;
   position:relative;
}


.service-item-block-top1{
	position:absolute;
	width:100%;
	top:0;
	padding:1em;
	color:#fff;
}


.service-item-block-top2{
	position:absolute;
	width:100%;
	bottom:0;
	padding:1em 0;
}

.service-item-block-top-details{
	width:100%;
	text-align:right;
	color:#fff;
	text-transform:uppercase;
}


.slide-disclaim-box-in {
   width:100%;
   position:absolute;
   height:20px;
   bottom:0;
}

.slide-disclaim-box-text{
	padding:1em;
}

.slide-disclaim-box-text h4{
	color:#425968;
	font-weight:500;
	font-size:14px;
	padding-bottom: .5em;
}

.slide-disclaim-box-text p{
	color:#425968;
}

.slide-disclaim-box-control{
   width:100%;
   cursor:pointer;
}

.slide-disclaim-box-control p{
   color:#999;
   font-size:12px;
   font-family: 'League Gothic';
   letter-spacing: .005em;
}


.box-contol-modify{
	background:white;
	width:100%;
	position:absolute;
	bottom:0;
	padding:.75em 0;
}

.box-contol-modify-button{
	margin:0 auto;
	width:50%;
	background:white;
	padding:.5em;
	text-align:center;
    border: 1px solid #2d96cd;
    color:#2d96cd;
    font-family: 'Antenna';
}

.slide-disclaim-box-content{
    background:white;
    position:absolute;
    bottom:0;
    display:none;
    padding:0;
    margin:0;
    height:250px;
    width:100%;
    border-top:1px solid #f3f3f3;
}

.slide-disclaim-box-content-in{
	position:relative;
	height:250px;
}



.service-item-block-price1{
	display:block;
	float:right;
	font-family: 'League Gothic';
	font-size:1.5em;
	padding-top:0px;
	font-weight:normal;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.service-item-block-price2{
	display:block;
	float:right;
	font-family: 'League Gothic';
	font-size:2.75em;
	line-height:.85em;
	font-weight:normal;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}


.service-item-block-bottom{
	padding:1em;
}

.service-item-block-bottom h2{
	font-weight:normal;
	color: #454545;
	margin-bottom:.5em;
	font-size:1.20em;
	
	
}

.service-item-block-bottom p{
	color: #425968;
}



/* test responsive */

@media only screen and (max-width: 1024px) {
    .service-item-block {
        width: 48%;
    }
}

@media only screen and (max-width: 640px) {
    .service-item-block {
        width: 99%;
        margin-left: 0;
        margin-right: 0;
        margin:0 .5% 4% .5%;
    }

}



/* .roundedFour */
.roundedFour {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 0px auto;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedFour label {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.roundedFour label:after {
  content: '';
  width: 18px;
  height: 10px;
  position: absolute;
  top: 12px;
  left: 12px;
  border: 3px solid #8DC63F;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.roundedFour label:hover::after {
  opacity: 0.3;
}
.roundedFour input[type=checkbox] {
  visibility: hidden;
}
.roundedFour input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* MANUAL SERVICE*/


.item-container-wrap2 {
    width: 90%;
    margin:0 auto;
}


.items-container2{
    overflow: hidden;
    margin: 0;
}


.service-item-block2 {
    display: block;
    float: left;
    width: 23%;
    margin:0 1% 2% 1%;
    background: #0c375e;
    -webkit-box-shadow:0 1px 5px rgba(15,0,35,0.2);
    -moz-box-shadow:0 1px 5px rgba(15,0,35,0.2);
    box-shadow:0 1px 5px rgba(15,0,35,0.2);
}

.service-item-block-top3 {
   background:#ffffff;
   background-image: url("../img/batt1.png");
   background-size: cover;
   display:block;
   /*height:150px;*/
   height:90px;
   position:relative;
}

.other-service-block{
   background:#0c375e;
   background-image: url("../img/other-service.png");
    background-size: cover;
}


.slide-disclaim-box-content2 {
    background: white;
    position: absolute;
    bottom: 0;
    display: none;
    padding: 0;
    margin: 0;
    height: 150px;
    width: 100%;
    border-top: 1px solid #f3f3f3;
}


.slide-disclaim-box-content-in2{
	position:relative;
	height:150px;
}


 .manual-disclaim-content{
 		height:150px;
}



.service-item-block-bottom2{
	padding:1em;
}

.service-item-block-bottom2 h2{
	font-weight:normal;
	color: #fff;
	margin-bottom:.25em;
	font-size:1.15em;
	text-align:center;
}

.service-item-block-bottom2 p{
	color: #a8a9aa;
}



@media only screen and (max-width: 1024px) {
    .service-item-block2 {
        width: 48%;
    }
}

@media only screen and (max-width: 640px) {
    .service-item-block2 {
        width: 99%;
        margin-left: 0;
        margin-right: 0;
        margin:0 .5% 4% .5%;
    } 

} 