/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color:#000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*----------------FONTS-----------------*/

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Bold.eot');
	src: url('fonts/Antenna-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Bold.woff') format('woff'),
		url('fonts/Antenna-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Regular.eot');
	src: url('fonts/Antenna-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Regular.woff') format('woff'),
		url('fonts/Antenna-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Black.eot');
	src: url('fonts/Antenna-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Black.woff') format('woff'),
		url('fonts/Antenna-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Light.eot');
	src: url('fonts/Antenna-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Light.woff') format('woff'),
		url('fonts/Antenna-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Antenna';
	src: url('fonts/Antenna-Medium.eot');
	src: url('fonts/Antenna-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Antenna-Medium.woff') format('woff'),
		url('fonts/Antenna-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'League Gothic';
	src: url('fonts/LeagueGothic-Regular.eot');
	src: url('fonts/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/LeagueGothic-Regular.woff') format('woff'),
		url('fonts/LeagueGothic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




p, h1, h2, h3, h4, h5{
	font-family:Antenna,Helvetica,sans-serif;
}

p{
	font-weight:300;
	color: #506573;
	font-size:13px;
    line-height: 1.4em;
}

/*----------------Clearfix-----------------*/


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}


/* ==========================================================================
   Navigation styles
   ========================================================================== */
#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-top: 1px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 1px solid #fff;
    background:#F3F3F3;
}


.navbar-toggle {
	margin:0;
	border-radius:0;
    padding: 18px 16px;
    border-width: 0px 0px 0px 1px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #454545;
}


.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    width:54px;
    border-right: 1px solid #fff;
}

.navbar-brand img{
	width:65%;
	margin:0 auto;
	padding-top:.55em;
}



@media (min-width: 768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: 0px;
	}
}

@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.navibar{
	display:block;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-top: 1px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 1px solid #fff;
    background:#ebecee;
}

.navibarL{
	float:left;
	width:45px;
	height:50px;
	border-left: 0px solid #fff;
    border-right: 1px solid #fff;
}

.navibarR{
	float:right;
	width:45px;
	height:50px;
	border-left: 1px solid #fff;
    border-right: 0px solid #fff;
}

.navibarL a, .navibarR a{
	display:block;
}

.navibarL a img, .navibarR a img{
	width:100%;
}


/*----------------SECTION-----------------*/



.top-line {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 4em;
  position: relative;
  text-align:center;
  background: white;
  -webkit-box-shadow: 0 5px 20px 2px rgba(15,0,35,0.3);
  -moz-box-shadow: 0 5px 20px 2px rgba(15,0,35,0.3);
   box-shadow: 0 5px 20px 2px rgba(15,0,35,0.3);
   z-index: 999999;
}


.top-line img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:105px;
}



#banner {
     height:425px;  
     overflow:hidden;
}

@media only screen and (max-width: 800px) {
	#banner {
	     height:350px;  
	}	
}

@media only screen and (max-width: 600px) {
	#banner {
	     height:250px;  
	}	
}

.banner-wrap{
	width:100%;
	height:430px;  
	background-image: url("../img/BB-1.jpg");
 	background-size: cover;
}

.banner-wrap-in{
	width:100%;
	height:430px;  
	background-image: url("../img/grad1.png");
	background-repeat:repeat-y;
	background-size: 100%;
}

.banner-wrap-inL{
	width:47%;
	margin-right:3%;
	float:right;
	margin-top:10%;
}


.banner-wrap-inL h3 {
    color: #2d96cd;
    font-size: 0.92em;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom:7px;
}

.banner-wrap-inL h1 {
    color: #fff;
    line-height: 115%;
    font-weight: 900;
    font-size: 2.2em;
    margin-bottom:7px;
}

.banner-wrap-inL h2 {
    color: #ccc;
    font-weight: 300;
    margin-bottom:5px;
 }
 
@media only screen and (max-width: 600px) {
	.banner-wrap-inL h1 {
	    color: #fff;
	    line-height: 115%;
	    font-weight: 900;
	    font-size: 1.8em;
	    margin-bottom:7px;
	}
	.banner-wrap-inL{
		width:67%;
		margin-right:3%;
		float:right;
		margin-top:10%;
	}
	
	.banner-wrap{
		width:100%;
		height:250px;  
	}
	
	.banner-wrap-in{
		width:100%;
		height:250px;  
		background-size: 100%;
	}


}
 
.home-wrapper{
	background: url("../img/BB-2.jpg");
    background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom:59%;
	
}

.home-wrapper-logo{
	padding:4.5% 0 2.75% 0;
	margin:0 auto;
	width:40%;
}


@media only screen and (max-width: 640px) {
	.home-wrapper-logo {
    width: 60%;
}
}

.home-wrapper-logo img{
	width:100%;
}

.home-wrapper-action{
	padding:0;
	margin:0 auto;
	width:78%;
}

.home-wrapper-action-button{
	float:left;
	width:48%;
	margin:0 1%;
}

.home-wrapper-action-button a{
	display:block;
}

.home-wrapper-action-button a img{
	width:100%;
}


.app-body-top{
	text-align:center;
	padding:3em 0 2.5em 0;
	margin:0 auto;
}




.app-body-top h1{
	font-weight:900;
	font-size:2em;
	margin:0 0 .25em 0;
	text-transform:uppercase;
}

.app-body-top h2{
	color:#269CD9;
	font-family: 'Antenna';
	text-align:center;
	font-size:1.25em;
	line-height:1.35em;
	margin-bottom:1.5em;
	font-weight:normal;
}


.app-body-top h4{
	color:#999;
	font-size:1em;
}


.app-body-inner-bg{
	background-image: url("../img/bottom-cars2.jpg"); /* fallback */
  	background-image: url("../img/bottom-cars2.jpg"), linear-gradient( #fbfbfb 0%, #ffffff 48%); /* W3C */
    background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 100%;
}

.app-body-inner-nobg{
	width:100%;
	background: white;
}





/*PASS TO DAVID*/

.vehicle-block{
	width:60%;
	margin:0 auto 3em auto;
}

.vehicle-block-manual{
	width:60%;
	margin:3em auto 0 auto;
}


.vehicle-blockL{
	width:50%;
	float:left;
	background: #eef2f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #eef2f6 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eef2f6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eef2f6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vehicle-blockL-imgwrap{
	width:100%;
	height:150px;
	white-space: nowrap;
    text-align: center;
    position:relative;
    display:block;
    overflow:hidden;
}


.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vehicle-blockL img {
    vertical-align: middle;
    width:73%;
    margin-top:-10px;
}

.vehicle-blockL-top{
	width:100%;
	text-align:center;
}

.vehicle-blockL-top h2{
	color:#2d96cd;
	padding:1em 0 0em 0;
	font-size:1.35em;
}

.vehicle-blockR{
	width:50%;
	float:left;
	padding:1em;
}

.vehicle-manualR{
	width:50%;
	float:none;
	margin:0 auto;
	background: #eef2f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #eef2f6 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eef2f6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eef2f6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vehicle-blockR.vehicle-manualR h2{
	text-align:center;
}

.vehicle-blockR.vehicle-manualR h4{
	color:#2d96cd;
	padding:0em 0 .5em 0;
	font-size:1.35em;
	text-align:center;
}




.vehicle-blockR-in{
	width:100%;
	border-bottom:1px solid #f3f3f3;
	padding-bottom:.25em;
	margin-bottom:.5em;
}


.vehicle-blockR h2{
	margin:0 0 .5em 0;
	text-transform:uppercase;
	font-size:1.35em;
	font-weight:900;
	color:#0c375e;
}

.vehicle-blockR-inL{
	width:17%;
	float:left;
	height:42px;
	background-image: url("../img/ford-icon1.png");
    background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.vehicle-blockR-inR{
	width:83%;
	float:left;
	padding-left:.5em;
}

.apt-detail-row{
	color:#616161;
}

.apt-detail-row h3{
	margin:.25em 0;
	text-transform:uppercase;
	font-size:1em;
}

.heavy{
	font-weight:900;
}


@media only screen and (max-width: 900px) {
   .vehicle-block{
		width:90%;
	}
	   
    .vehicle-blockR{
		width:50%;
	}
	.vehicle-blockR h2{
		font-size:1.25em;
	}
	
}




@media only screen and (max-width: 640px) {
	.app-body-top h1 {
		font-size:1.25em;
		line-height:1.33em;
	}
	.app-body-top h4{
		font-size:0.87em;
		line-height:1.33em;
	}
	
  	 .vehicle-blockL {
  	   width: 100%;
  	   min-height:250px;
  	 }
  	 
    .vehicle-blockR{
		width:100%;
	}
	
	.vehicle-blockL-imgwrap{
		width:100%;
		height:250px;
	}
	



}


@media only screen and (max-width: 560px) {
	.vehicle-blockL {
  	   width: 100%;
  	   min-height:160px;
  	 }
	.vehicle-blockL-imgwrap{
		width:100%;
		height:160px;
	}



}





/*NEW CODE 7/18*/

.register-block-wrap{
	width:55%;
	margin:0em auto;
	padding:0 0 73% 0;
}


.register-block-wrap h2{
	color:#269CD9;
	font-family: 'Antenna';
	text-align:center;
	font-size:1.25em;
	line-height:1.35em;
	margin-bottom:1.5em;
	font-weight:normal;
}



.register-block-wrap-top{
	width:100%;
}


.register-block-wrap-topL{
	width:50%;
	float:left;
}

.register-block-wrap-topL h2{
	font-weight:bold;
	color:#425968;
	font-size:1.35em;
	padding:1em 0 0 0;
	text-align:left;
}


.register-block-wrap-topR{
	width:50%;
	float:left;
	text-align:right;
}

.pass-logo-reg{
	max-width:220px;
}


.register-block-wrap-mid{
	width:100%;
	margin:.65em 0;
}

.register-divider{
	border-bottom: 1px solid #ddd;
	margin:.5em 0 1em 0;
}

.register-block-wrap-midL{
	width:25%;
	float:left;
}

.register-block-wrap-midL h3{
	color:#999;
}

.register-block-wrap-midR{
	width:75%;
	float:left;
	text-align:right;
}

.midR-mod{
	text-align:right;
}



.register-block-wrap-mid input{
	width:100%;
	padding:.65em;
	border-radius:4px;
	border:1px solid #ccc;
	font-family: 'Antenna';
}

.reg-button{
	background: #5ebbe9; /* Old browsers */
	background: -moz-linear-gradient(top,  #5ebbe9 0%, #269cda 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #5ebbe9 0%,#269cda 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #5ebbe9 0%,#269cda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	max-width:150px;
	border:0px;
	border-radius:4px;
	padding:.65em;
	font-weight:bold;
	color:#fff;
	font-family: 'Antenna';
}

.register-block-wrap-bottom{
	width:100%;
	margin:1.5em 0;
}

.register-block-wrap-bottomL{
	width:40%;
	float:left;
}


.register-block-wrap-bottomL h2{
	color:#2d96cd;
	font-size:1.15em;
	padding:.75em 0 0 0;
}


.register-block-wrap-bottomR{
	width:60%;
	float:left;
}

.register-block-wrap-bottom-button{
	width:50%;
	float:left;
}


.register-block-wrap-bottom-buttonL{
	width:30%;
	float:left;
	height:45px;
	background-image: url("../img/ford-icon4.png");
    background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
}

.register-block-wrap-bottom-buttonR{
	width:70%;
	float:left;
	padding-left:.5em;
}



.register-block-wrap-bottom-buttonR h4{
	padding-top:.85em;
	color: #616161;
	font-size:1em;
}


.manual-reg{
	padding:0 0 64% 0;
}

.manual-reg-vehicle{
	padding:0 0 71% 0;
}


@media only screen and (max-width: 800px) {
	.register-block-wrap{
		width:90%;
		padding:0 0 45% 0;
	}

	
}


@media only screen and (max-width: 600px) {
	
	.register-block-wrap{
		width:90%;
	}
	
	.app-body-top {
	   width:90%;
	}
	
	
	.register-block-wrap-topL{
		width:100%;
		text-align:center;
	}
	
	.register-block-wrap-topL h2 {
	    padding: 0 0 1em 0;
	    text-align:center;
	}
	
	.register-block-wrap-topR{
		width:100%;
		text-align:center;
	}
	.register-block-wrap-midL{
		width:100%;
	}
	.register-block-wrap-midR{
		width:100%;
	}
	
	.midR-mod{
		text-align:center;
	}
	
	.register-block-wrap-midL h3 {
		padding:0 0 .75em 0;
	}
	.register-block-wrap-bottomL{
		width:100%;
	}
	.register-block-wrap-bottomR{
		width:100%;
	}
	.register-block-wrap-bottomL h2{
		padding:.75em 0 .75em 0;
	}
	
	.manual-reg {
   	 padding: 0 0 42% 0;
	}	

}

.get-back{
	background: #5ebbe9; /* Old browsers */
	background: -moz-linear-gradient(top,  #5ebbe9 0%, #269cda 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #5ebbe9 0%,#269cda 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #5ebbe9 0%,#269cda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	max-width:100px;
	border:0px;
	border-radius:4px;
	margin:0 auto;
}

.get-back a {
	border: 0;
	color: #fff;
	display: block;
	font-size: 1.10em;
	font-weight: 700;
	height: 2.25em;
	line-height:2.25em;
	text-align: center;
	margin:0 auto 2.15em auto;
	background-image: url("../img/icon-getback.png");
    background-position: 5px center;
	background-repeat: no-repeat;
	background-size:25px;
	font-family: 'Antenna';
	padding:0 0 0 25px;
	text-decoration:none;
}

.get-back a img {
	height: 65%;
}

.get-back a:hover,
.get-back a:active{
	background-color: #2b2b2b;
	text-decoration: none;
	border-radius:4px;
}

.scan-instruct-wrap{
	width:90%;
	margin:0 auto;
}

.scan-instruct-wrap img{
	width:100%;
}

.lic-scan-progress{
	width:100%;
	text-align:center;
	padding-bottom:2em;
}

.lic-scan-progress img{
	width:70px;
}

@media only screen and (max-width: 600px) {
	.lic-scan-progress img{
		width:40px;
	}
}


.confirm-scan-block{
	width:50%;
	margin:0 auto 0 auto;
	padding:0 0 79% 0;
}

.confirm-scan-block-manual{
	width:50%;
	margin:0 auto 0 auto;
	padding:0 0 66% 0;
}


.confirm-scan-block h2{
	color:#269CD9;
	font-family: 'Antenna';
	text-align:center;
	font-size:1.25em;
	line-height:1.35em;
	margin-bottom:1.5em;
	font-weight:normal;
}

.confirm-scan-block-in-row{
	width:100%;
	background:white;
	font-family: 'Antenna';
	border-bottom:1px solid #d7d9dc;
	text-transform:uppercase;
	font-size:0.97em;
}

.confirm-scan-block-in-row:last-child{
	border-bottom:0px solid #d7d9dc;
}

.confirm-scan-block-in-rowL{
	float:left;
	width:30%;
	background:#eef2f6;
	padding:.65em;
	font-weight:900;
	color:#232323;
}

.confirm-scan-block-in-rowR{
	float:left;
	width:70%;
	padding:.65em;
	color:#999;
}

.confirm-scan-block-action{
	margin:1.5em 0;
	text-align:center;
}


.confirm-scan-block-action a{
	width:20%;
	display:inline-block;
	margin:0 .25%;
}

.confirm-scan-block-action a img{
	width:100%;
}


@media only screen and (max-width: 800px) {
	.confirm-scan-block-action a {
	    width: 15%;
	
	}
}

@media only screen and (max-width: 600px) {
	.confirm-scan-block-action a {
	    width: 29%;
	
	}
}


.phone-email-collect{
	padding:0 0 92% 0;
}

.pin-collect{
	padding:0 0 97% 0;
}

.register-block-wrap-mid input.reg-button-image{
	width:103px;
	height:103px;
	margin:1em auto 0 auto;
	display:block;
	background-color:transparent;
	border:none;
	cursor:pointer;
}

input.reg-button-image.go-next{
	background-image: url("../img/ford-gonext.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size:100%;
    width: 76px;
    height: 105px;
}

.go-finish{
	background-image: url("../img/ford-finish.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size:100%;
}

.manual-service-action a.go-finish2{
	background-image: url("../img/ford-finish2.png");
}

.manual-service-action a.go-resend{
	background-image: url("../img/ford-resend.png");
}

@media only screen and (max-width: 800px) {
	.confirm-scan-block{
		width:90%;
		margin:0 auto 0 auto;
		padding:0 0 40% 0;
	}
	
	.confirm-scan-block-manual{
		width:90%;
		margin:0 auto 0 auto;
		padding:0 0 40% 0;
	}
	
	.phone-email-collect{
		width:90%;
		padding:0 0 50% 0;
	}
	.pin-collect{
		width:90%;
		padding:0 0 50% 0;
	}
	
	
}

.manual-service-action{
	padding:1.5em 0;
	width:90%;
	margin:0 auto;
	text-align:center;
}

.manual-service-action a{
	display:inline-block;
	background-image: url("../img/ford-gonext.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size:100%;
    width: 75px;
    height: 105px;
    margin:0 .5em;
}

a.go-back{
	background-image: url("../img/ford-goback.png");
}

a.go-accept{
	background-image: url("../img/ford-accept.png");
}

.service-comment-row{
	background:#ffffff;
	padding:1em;
	border-bottom:1px solid #c6cbd0;
	font-family: 'Antenna';
}

.service-comment-row:nth-child(odd) {
    background: #f9fcff;
}

.service-comment-rowL{
	float:left;
	width:30%;
}

.service-comment-rowR{
	float:left;
	width:70%;
	padding-left:1em;
}

.service-comment-rowR textarea{
	width:100%;
	height:155px;
	padding:.5em;
	border-radius: 4px;
    border: 1px solid #ccc;
}

.service-item-block-comment{
	  background:#0c375e;
}

.service-item-block-comment-top{
   background:#ffffff;
   background-image: url("../img/batt1.png");
   background-size: cover;
   display:block;
   height:110px;
   position:relative;
}

.service-item-block-comment-bottom{
	padding:.65em;
}

.service-item-block-comment-bottom h2{
	font-weight:normal;
	color: #fff;
	margin-bottom:.25em;
	font-size:1.15em;
	text-align:center;
}


@media only screen and (max-width: 600px) {
	
	.service-comment-rowL{
		width:100%;
	}
	
	.service-comment-rowR{
		width:100%;
		padding-left:0;
		padding-top:1em;
	}
	
}

.manual-service-check-wrap{
	width:70%;
	margin:0 auto 1.5em auto;
}

.manual-service-check-wrapL{
	float:left;
	width:40%;
	background: #eef2f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #eef2f6 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eef2f6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eef2f6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding:1em;
}

.manual-service-check-wrapR{
	float:left;
	width:60%;
	padding: 0 0 0 1em;
}

.manual-service-check-wrapL h2{
	text-align:center;
	margin: 0 0 .5em 0;
    text-transform: uppercase;
    font-size: 1.35em;
    font-weight: 900;
    color: #0c375e;
}

.manual-service-check-wrapL h4{
	color:#2d96cd;
	padding:0em 0 .5em 0;
	font-size:1.35em;
	text-align:center;
}

.manual-service-check-wrapL-in{
	width:100%;
}


.manual-service-check-wrapL-in1{
	width:17%;
	float:left;
	height:42px;
	background-image: url("../img/ford-icon1.png");
    background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.manual-service-check-wrapL-in2{
	width:83%;
	float:left;
	padding-left:.5em;
}

.apt-detail-row2{
	color:#616161;
}

.apt-detail-row2 h3{
	margin:.25em 0;
	text-transform:uppercase;
	font-size:1em;
}

.manual-service-check-wrapR-row{
	background:#ffffff;
	border-bottom:1px solid #c6cbd0;
	font-family: 'Antenna';
}

.manual-service-check-wrapR-row:nth-child(odd) {
    background: #f9fcff;
}

.manual-service-check-wrapR-rowL{
	float:left;
	width:30%;
    background-image: url("../img/batt1.png");
    background-size: cover;
    display:block;
    height:82px;
    position:relative;
	
}

.manual-service-check-wrapR-rowR{
	float:left;
	width:70%;
	padding:.75em;
}

.manual-service-check-wrapR-rowR h2{
	font-size:1.25em;
	color: #0c375e;
	margin-bottom:.25em;
	font-weight:500;
}

.manual-service-check-wrapR-rowR a{
	text-decoration:underline;
	text-transform:uppercase;
	font-size:12px;
}

@media only screen and (max-width: 800px) {
	.manual-service-check-wrapL{
		width:100%;
		padding:1em;
		margin:0 0 1em 0;
	}
	
	.manual-service-check-wrapR{
		width:100%;
		padding: 0 0 0 0em;
	}

}

@media only screen and (max-width: 600px) {
	.manual-service-check-wrap{
		width:90%;
	}
}

.service-signed-off-wrap{
	width:50%;
	margin:0 auto;
	position:relative;
	font-family: 'Antenna';
}



@media only screen and (max-width: 800px) {
	.service-signed-off-wrap{
		width:90%;
	}
	.service-signed-off-wrap-top{
		width:100%;
	}
}


.service-signed-off-wrap-topL{
	width:30%;
	float:left;
}

.service-signed-off-wrap-topL h3 {
    margin: .25em 0;
    text-transform: uppercase;
    font-size: 1em;
    color: #616161;
    font-weight:900;
}

.service-signed-off-wrap-topR{
	width:70%;
	float:left;
	 color: #0c375e;
}

.service-signed-off-wrap-topR p{
	font-size:15px;
}

.service-signed-off-wrap-mid{
	padding:1.25em 0;
}

.service-signed-off-wrap-mid h3{
	line-height:1.33em;
	font-size:0.92em;
	text-align:justify;
}

.service-signed-off-wrap-bottom{
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding:1em;
}

.service-signed-off-wrap-bottom-in{
	background:#ffffff;
	position:relative;
	width:100%;
	height:150px;
}

.service-signed-off-wrap-bottom-in2{
	position:absolute;
	width:50%;
	right:0;
	bottom:0;
}
  
@media only screen and (max-width: 800px) {
	.service-signed-off-wrap-bottom-in2{
		width:70%;
	}
	.service-signed-off-wrap-topL{
	width:40%;
	}
	.service-signed-off-wrap-topR{
	width:60%;
	}
} 
  
  
.service-signed-off-wrap-bottom-in2 a{
	background:#8bc732;
	width:50%;
	padding:.5em;
	display:block;
	float:left;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	font-weight:600;
}

a.clearsig{
	background:red;
	border-right:1px solid #fff;
}

.key-claim-top{
	width:50%;
	margin:3em auto 0em auto;
	padding:1.25em;
	border-radius:4px;
	background: #eef2f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #eef2f6 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eef2f6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eef2f6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.key-claim-topL{
	float:left;
	width:28%;
}

.key-claim-topL img{
	width:100%;
}


.key-claim-topR{
	float:left;
	width:72%;
	padding-left:1em;
}

.key-claim-topR h1 {
    font-weight: 900;
    font-size: 2em;
    margin: .75em 0 .25em 0;
    text-transform: uppercase;
    color:#0C375E;
}

.key-claim-topR h3 {
    color:#616161;
    line-height:1.33em;
}

.key-claim-mid{
	width:60%;
	margin:0 auto;
}

.key-claim-mid img{
	width:100%;
}

.key-claim-bottom{
	width:50%;
	margin:0 auto 1em auto;
}

.key-claim-bottomL{
	float:left;
	width:40%;
	font-size:1.15em;
	color:#0C375E;
	font-weight:500;
}

.key-claim-bottomR{
	float:left;
	width:60%;
}

.key-claim-bottomR ul li{
	color:#2d96cd;
	list-style-type: square;
	margin-left:1em;
	
}

.key-claim-bottomR p{
	color:#616161;
	font-size:14px;
}

@media only screen and (max-width: 800px) {
	.key-claim-top{
		width:80%;
	}
	.key-claim-mid{
		width:60%;
	}
	.key-claim-bottom{
		width:70%;
	}
}

@media only screen and (max-width: 600px) {
	.key-claim-top{
		width:90%;
	}
	.key-claim-mid{
		width:90%;
	}
	.key-claim-bottom{
		width:90%;
	}
}

.vehicle-blockMan-imgwrap{
	width:100%;
	height:150px;
	white-space: nowrap;
    text-align: center;
    position:relative;
    display:block;
    overflow:hidden;
}

.helperMan {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vehicle-blockMan-imgwrap img {
    vertical-align: middle;
    width:73%;
    margin-top:-10px;
}

@media only screen and (max-width: 640px) {

	.vehicle-blockMan-imgwrap{
		width:100%;
		height:250px;
	}
	
}


@media only screen and (max-width: 560px) {

	.vehicle-blockMan-imgwrap{
		width:100%;
		height:160px;
	}

}

.payment-approve-wrap{
	width:60%;
	margin:0 auto;
	padding:1em;
	font-family: 'Antenna';
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
}

.payment-approve-wrap-top{
	width:100%;
	padding:1.5em 1em 1em 1em;
	background:#ffffff;
}

.payment-approve-wrap-topL{
	float:left;
	width:50%;
	text-align:left;
	line-height:1.33em;
	text-transform:uppercase;
}

.payment-approve-wrap-topL h3{
	font-weight:900;
}



.payment-approve-wrap-topR{
	float:left;
	width:50%;
	text-align:right;
	line-height:1.33em;
}

.payment-approve-wrap-topR h3{
	font-weight:900;
}

.payment-approve-wrap-mid{
	padding:1em;
	background:#fff;
}

.payment-approve-wrap h2{
	padding:0 1em;
	background: #ffffff;
    color: #91c73e;	
}

.payment-approve-wrap-mid-row{
	width:100%;
	background:#ffffff;
	border-bottom:1px solid #f3f3f3;
}

.payment-approve-wrap-mid-row:nth-child(odd) {
    background: #f9fcff;
}


.payment-approve-wrap-mid-rowL{
	width:75%;
	float:left;
	padding:.5em;
	font-weight:600;
}



.payment-approve-wrap-mid-rowR{
	width:25%;
	float:left;
	padding:.5em;
	text-align:right;
	color:#616161;
}

.payment-approve-wrap-bottom{
	width:100%;
	padding:0em 1.5em;
	background:#ffffff;
	color:#91c73e;
	margin:0 0 0em 0;
}

.payment-approve-wrap-bottomL{
	float:left;
	width:75%;
	text-align:left;
	font-weight:900;
	text-transform:uppercase;
}

.payment-approve-wrap-bottomR{
	float:left;
	width:25%;
	text-align:right;
	font-weight:900;
}

.payment-approve-signed-off{
	padding:1.25em 0;
	width:60%;
	margin:0 auto;
}

.payment-approve-signed-off h3{
	line-height:1.33em;
	font-size:0.92em;
	text-align:justify;
}

.payment-approve-signed-off-in{
	width:100%;
	margin:1em 0 0 0;
	padding:1em;
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
}

.payment-approve-signed-off-in-area{
	background:white;
	width:100%;
	position:relative;
	height:175px;
}

.payment-approve-signed-off-in-area-bot{
	width:50%;
	position:absolute;
	bottom:0;
	right:0;
}

.payment-approve-signed-off-in-area-bot a{ 
	background:#8bc732;
	width:50%;
	float:left;
	display:block;
	padding:.5em;
	text-align:center;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	font-weight:600;
	font-family: 'Antenna';
}

@media only screen and (max-width: 800px) {
	.payment-approve-wrap{
		width:90%;
	}
	.payment-approve-signed-off{
		width:90%;
	}
}

@media only screen and (max-width: 600px) {
	.payment-approve-wrap-topL{
		width:100%;
		text-align:center;
	}
	.payment-approve-wrap-topR{
		width:100%;
		text-align:center;
		padding-top:1em;
	}
	.payment-approve-wrap-mid-rowL{
		width:100%;
		text-align:center;
	}
	
	.payment-approve-wrap-mid-rowR{
		width:100%;
		text-align:center;
	}
	.payment-approve-signed-off-in-area-bot{
		width:80%;
	}
	.payment-approve-signed-off h3{
		line-height:1.33em;
		font-size:0.82em;
	}
	.payment-approve-wrap-bottomL{
		width:50%;
	}
	.payment-approve-wrap-bottomR{
		width:50%;
	}
}

a.pay-now{
	background-image: url("../img/ford-paynow.png");
}

.final-pay-wrap{
	width:90%;
	margin:1.5em auto 0 auto;
}

.final-pay-wrapL{
	width:30%;
	float:left;
	padding:1em;
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
	font-family: 'Antenna';
}

.final-pay-wrapL-in{
	width:100%;
	background:white;
	padding:1em;
}

.final-pay-wrapL-in h1 {
	font-weight:900;
    font-size: 1.25em;
    padding:0 0 .2em 0;
}

.final-pay-wrapL-in h2 {
    font-size: 0.92em;
}

.final-pay-wrapL-in h3 {
    color: #2d96cd;
    font-size: 1.25em;
    padding:.5em 0 0 0;
    line-height:1.33em;
}

.final-pay-wrapL-in h4 {
    text-transform: uppercase;
    color:#616161;
    font-size: 0.92em;
    line-height:1.33em;
}

.final-pay-calc-wrap{
	width:100%;
	padding:1.25em 0 0 0;
}

.final-pay-calc-wrap-row{
	width:100%;
	padding:.5em;
	background:#fff;
	font-size:.92em;
	border-bottom:1px solid #f3f3f3;
}

.final-pay-calc-wrap-row:nth-child(odd) {
    background: #f9fcff;
}



.final-pay-calc-wrap-rowL{
	width:70%;
	float:left;
	font-weight:600;
}

.final-pay-calc-wrap-rowR{
	width:30%;
	text-align:right;
	float:left;
	color: #616161;
}

.final-pay-total-wrap{
	width:100%;
	padding:.5em;
	font-size:.92em;
	color: #91c73e;
	font-weight:900;
	text-transform:uppercase;
}

.final-pay-total-wrapL{
	width:40%;
	float:left;
}

.final-pay-total-wrapR{
	width:60%;
	text-align:right;
	float:left;
}


.final-pay-wrapR{
	width:70%;
	float:left;
}


.final-pay-wrapR img{
	width:100%;
}

.final-payment-status{
	width:50%;
	margin:3em auto 0em auto;
	padding:1.25em;
	border-radius:4px;
	background: #eef2f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #eef2f6 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eef2f6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eef2f6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.final-payment-statusL{
	float:left;
	width:26%;
}

.final-payment-statusL img{
	width:100%;
}


.final-payment-statusR{
	float:left;
	width:74%;
	padding-left:1em;
}

.final-payment-statusR h1 {
    font-weight: 900;
    font-size: 1.85em;
    margin: .75em 0 .25em 0;
    text-transform: uppercase;
    color:#0C375E;
}

.final-payment-statusR h3 {
    color:#616161;
    line-height:1.33em;
}

img.spinimg{
	width:80%;
}

@media only screen and (max-width: 800px) {
	.final-payment-status{
		width:80%;
	}
	.final-pay-wrapL{
		width:100%;
	}
	.final-pay-wrapR{
		width:100%;
	}


}

@media only screen and (max-width: 600px) {
	.final-payment-status{
		width:90%;
	}
	.final-payment-statusL{
		width:100%;
		text-align:center;
	}
	.final-payment-statusR{
		width:100%;
		text-align:center;
	}
	.final-payment-statusL img{
		width:60%;
	}
	img.spinimg{
		width:50%;
	}
	.key-claim-top{
		width:90%;
	}
	.key-claim-topL{
		width:100%;
		text-align:center;
	}
	.key-claim-topR{
		width:100%;
		text-align:center;
		padding-left:0;
	}
	.key-claim-topL img{
		width:60%;
	}
	

}

/*Use this to size the signature pad. Modify however you want.*/
.signature-pad canvas {
	width: 100%;
	height: 100%;
 }
 
.appt-extra-info{
	width:50%;
	margin:0 auto;
}

@media only screen and (max-width: 800px) {
	.appt-extra-info {
	    width: 90%;
	    margin: 0 auto;
	}

}

@media only screen and (max-width: 640px) {
	.appt-extra-info {
	    width: 90%;
	    margin: 0 auto;
	}

}


.alt-top-block{
	width:30%;
	margin:3em auto 1em auto;
	padding:1em;
	background: #eef2f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #eef2f6 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eef2f6 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eef2f6 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.alt-top-block h4 {
	color: #2d96cd;
	padding: 0em 0 .5em 0;
	font-size: 1.35em;
	text-align: center;
}


.alt-top-block-imgwrap{
	width:100%;
	height:150px;
	white-space: nowrap;
    text-align: center;
    position:relative;
    display:block;
    overflow:hidden;
}

.helperMan2 {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.alt-top-block-imgwrap img {
    vertical-align: middle;
    width:73%;
    margin-top:-10px;
}


@media only screen and (max-width: 800px) {
	.alt-top-block{
		width:40%;
	}
	
}

@media only screen and (max-width: 640px) {
	.alt-top-block{
		width:90%;
	}

	.alt-top-block-imgwrap{
		width:100%;
		height:250px;
	}
	
}


@media only screen and (max-width: 560px) {

	.alt-top-block-imgwrap{
		width:100%;
		height:160px;
	}

}


.alt-top-block-in{
	width:100%;
	border-bottom:1px solid #f3f3f3;
	padding-bottom:.25em;
	margin-bottom:.5em;
}

.alt-top-block-inL{
	width:17%;
	float:left;
	height:42px;
	background-image: url("../img/ford-icon1.png");
    background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.alt-top-block-inR{
	width:83%;
	float:left;
	padding-left:.5em;
}
.alt-top-block-in-row{
	color:#616161;
}

.alt-top-block-in-row h3{
	margin:.25em 0;
	text-transform:uppercase;
	font-size:1em;
}


