/* position keyboard at bottom of the screen - jQuery UI isn't even loaded! */
 .ui-keyboard {
    -moz-border-radius: 0 0 0 0 !important;
    -webkit-border-radius: 0 0 0 0 !important;
    -ms-border-radius: 0 0 0 0 !important;
    -o-border-radius: 0 0 0 0 !important;
    border-radius: 0 0 0 0 !important;
    font-family: 'Proxima-Nova', serif !important;
    left: 0px !important;
    top: auto !important;
    bottom: 0px;
    position: fixed !important;
    width: 100%;
    border-top:1px solid #555; 
}
.ui-keyboard button {
    padding: 1em !important;
    width: auto !important;
}
.ui-keyboard button.ui-keyboard-space {
    width: 15em !important;
}
.ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Antenna', serif !important;
    font-size: 1em !important;
}
.ui-widget input {
    font-family:'Antenna', serif !important;
    font-size: 1.75em !important;
    padding: 0.5em !important;
}
input.ui-keyboard-input {
    background: #ffffff !important;
}
input.current {
    border: 1px solid #1581EF !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), 0 0 4px rgba(21, 129, 239, 0.5) inset !important;
}
.submit-grouping {
    margin-top: 30px;
}

/* keyboard - jQuery UI Widget */
.ui-keyboard { padding-top:2em; padding-bottom:2.2em; position: absolute; left: 0; top: 0; z-index: 16000; font-size: 15px;}
.ui-keyboard { background-image: url("https://s3.amazonaws.com/com.shopgomoto.media/texture-darkest-grey.png");}
.ui-keyboard { background:#333 }
.ui-keyboard-has-focus { z-index: 16001; }
.ui-keyboard div { font-size: 1.1em; }
.ui-keyboard-button { height: 4.5em; min-width: 4.5em; margin: .1em; cursor: pointer; overflow: hidden; -moz-user-focus: ignore; border:1px solid #555; color:#fff; font-weight:bold; }
.ui-keyboard-button {  background: #212121}
.ui-keyboard-button {  background-image: url("https://s3.amazonaws.com/com.shopgomoto.media/texture-dark-grey.png");}

.ui-keyboard-button:active { background:#555; }
.ui-keyboard-button span { padding: 0; margin: 0; white-space:nowrap; display: inline-block; }
.ui-keyboard-button-endrow { clear: left; }
.ui-keyboard-space { width: 15em; }
.ui-keyboard-space span, .ui-keyboard-empty span { font: 0/0 a; text-shadow: none; color: transparent; } /* see http://nicolasgallagher.com/another-css-image-replacement-technique/ */
.ui-keyboard-preview-wrapper { text-align: center; }
.ui-keyboard-preview { text-align: left; margin: 0 0 3px 0; display: inline; width: 99%;} /* width is calculated in IE, since 99% = 99% full browser width =( */
.ui-keyboard-keyset { text-align: center; white-space: nowrap; }
.ui-keyboard-input { text-align: left; }
.ui-keyboard-input-current { -moz-box-shadow: 1px 1px 10px #00f; -webkit-box-shadow: 1px 1px 10px #00f; box-shadow: 1px 1px 10px #00f; }
.ui-keyboard-placeholder { color: #888; }
.ui-keyboard-nokeyboard { color: #888; border-color: #888; } /* disabled or readonly inputs, or use input[disabled='disabled'] { color: #f00; } */
.ui-keyboard-spacer { display: inline-block; width: 1px; height: 0; cursor: default; }
.ui-keyboard-input.light, .ui-keyboard-preview.light { color: #222; background: #ddd; }
.ui-keyboard-input.dark, .ui-keyboard-preview.dark { color: #ddd; background: #222; }




/* Hide Small */
 @media all and (max-width: 800px) {
	.ui-keyboard { height:0px; padding:0px; }
}