<div class="app-body-inner-nobg">
    <div class="key-claim-top clearfix">
        <div class="key-claim-topL">
            <img src="img/keycheck.png" alt="Ford" />
        </div>
        <div class="key-claim-topR">
            <h1>Key Secured!</h1>
            <h3>A Service Representative will be in touch with you shortly to discuss pricing details.</h3>
        </div>

    </div>
    <div class="key-claim-mid">
        <img src="img/keysecure.jpg" alt="Ford" />
    </div>
    <div class="key-claim-bottom clearfix">
        <div class="key-claim-bottomL">
            <h3>Don't see the email?</h3>
        </div>
        <div class="key-claim-bottomR">
            <ul>
                <li>
                    <p>Check your Spam folder.</p>
                </li>
                <li>
                    <p>Resend the email using the button below.</p>
                </li>
                <li>
                    <p>See an employee for assistance.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="manual-service-action">
        <style>
        .manual-service-action > button{
            vertical-align: bottom;
            width: 75px;
            height: 105px;
            line-height:normal;
            margin:0;
        }
        .manual-service-action > button img{
            width: 100%;
        }
         .manual-service-action > button.md-button:hover{background:white;}

        .md-button.md-default-theme.md-primary, .md-button.md-primary {
            color: #0C375E;
        }
        
        md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input {
		    border-color: #2d96cd;
		}
		        
        </style>
        <md-button class="go-resend" ng-click="keydropConfirmCtrl.showPrompt($event)" flex="100" flex-gt-md="auto" aria-label="resend">
            <img src="img/ford-resend.png" alt="Ford" />
        </md-button>
        <!--<a class="go-resend" ng-click="keydropConfirmCtrl.resend_email()">&nbsp;</a>-->
        <a class="go-finish2" ng-href="#" ng-click="keydropConfirmCtrl.change_page()">&nbsp;</a>
    </div>
</div>