<div class="app-body-inner-nobg">
	<div class="get-back" >
		<!-- ng-click="licenseScanCtrl.goBack()" -->
		<a ng-click="dashboardCustomerProfileCtrl.goBack()">
			BACK
		</a>
	</div>

    <div class="app-body-top">
        <h1>Customer Profile</h1>
        <h4>Customer session information below.</h4>
    </div><!--END app-body-top-->

    
    <style>
    	.dash-topline-wrap{
    		width:100%;
    		padding:0 0 1em 0;
    		text-align:center;
    	}
    	.dash-topline-wrap a{
    		display:inline-block;
    		background:red;
    		color:#fff;
    		padding:1em;
    		margin:0 auto;
    	}
    </style>
    <div class="dash-topline-wrap">
        <a ng-href="#customer-form" ng-click="dashboardCustomerProfileCtrl.add_customer_page()">
          CREATE NEW KEY DROP
        </a>
    </div>

    <div ng-scrollbars ng-scrollbars-config="dashboardCustomerProfileCtrl.config">
         <style>
           		.dash-customer-wrap{
           			width:100%;
           		}
           		
           		.dash-customer-wrapL{
           			
           			width:20%;
           			float:left;
           		}
           		.dash-customer-wrapR{
           			
           			width:80%;
           			float:left;
           			padding-left:1em;
           		}
           		.dash-customer-block-info{
           			width:100%;
           			text-align:center;
           			padding:1em;
           		}
           		.dash-customer-block-info h1{
           			font-size:24px;
           			font-weight:900;
           		}
           		.dash-customer-block-info h2{
           			font-size:12px;
           		}
           		.dash-customer-block-action{
           			width:100%;
           			background:green;
           		}
           		.dash-customer-block-action a{
           			width:100%;
           			background:green;
           			text-align:center;
           			display:block;
           			padding:.5em;
           			color:#fff;
           		}
           		.dash-customer-block-detail{
           			width:100%;
           			
           		}
           		.dash-customer-block-detail h1{
           			font-size:24px;
           			color:black;
           			font-weight:900;
           			margin:1em 0 1em 0;
           			
           		}
           		.dash-customer-block-detail-row{
           			width:100%;
           			
           		}
           		.dash-customer-block-detail-rowL{
           			width:20%;
           			background:#f7f7f7;
           			float:left;
           			padding:.5em;
           		}
           		.dash-customer-block-detail-rowR{
           			width:80%;
           			background:white;
           			float:left;
           			padding:.5em;
           		}
           
           
           
         
           </style>
       
       
       
        <div class="dash-customer-wrap clearfix">
         	<div class="dash-customer-wrapL">
				<div class="dash-customer-block-info">
					<h1>{{dashboardCustomerProfileCtrl.appointment_object['customer']['first_name']}} {{dashboardCustomerProfileCtrl.appointment_object['customer']['last_name']}}</h1>
					<h2> {{dashboardCustomerProfileCtrl.appointment_object['vehicle']['year']}} {{dashboardCustomerProfileCtrl.appointment_object['vehicle']['make']}} {{dashboardCustomerProfileCtrl.appointment_object['vehicle']['model']}} {{dashboardCustomerProfileCtrl.appointment_object['vehicle']['series']}}</h2>
				</div>

				<div class="dash-customer-block-action" ng-if="!!dashboardCustomerProfileCtrl.appointment_object['customer']">
                    <a ng-href="#admin-keydrop-form" ng-click="dashboardCustomerProfileCtrl.change_page(dashboardCustomerProfileCtrl.appointment_object['_id'],'RETURNKEY')" ng-if="!dashboardCustomerProfileCtrl.appointment_object['key_slot'] && dashboardCustomerProfileCtrl.appointment_object['appt_status'] != 'completed'">
	                   RETURN KEY NOW
	                </a>
                    <a ng-href="#admin-return-key" ng-click="dashboardCustomerProfileCtrl.change_page(dashboardCustomerProfileCtrl.appointment_object['_id'],'MANUALLYREMOVED')" ng-if="!!dashboardCustomerProfileCtrl.appointment_object['key_slot']">
	                  KEY MANUALLY REMOVED
	                </a>
           		 </div>


			</div>
            <div class="dash-customer-wrapR">
            	<div class="dash-customer-block-detail">
            		<h1>Customer Details</h1>
            		<div class="dash-customer-block-detail-row clearfix">
            			<div class="dash-customer-block-detail-rowL">Address</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['customer']['street']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix">
            			<div class="dash-customer-block-detail-rowL">City</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['customer']['city']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix">
            			<div class="dash-customer-block-detail-rowL">State</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['customer']['state']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix">
            			<div class="dash-customer-block-detail-rowL">Zip</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['customer']['zipcode']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix">
            			<div class="dash-customer-block-detail-rowL">Phone</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['customer']['phone']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix">
            			<div class="dash-customer-block-detail-rowL">Email</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['customer']['email']}}</div>
            		</div>
            		<h1>Transaction Details</h1>
            		<div class="dash-customer-block-detail-row clearfix" ng-if="!!dashboardCustomerProfileCtrl.appointment_object['license_status']">
            			<div class="dash-customer-block-detail-rowL">License Status</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['license_status']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix" ng-if="!!dashboardCustomerProfileCtrl.appointment_object['payment_status']">
            			<div class="dash-customer-block-detail-rowL">Payment Status</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['payment_status']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix" ng-if="!!dashboardCustomerProfileCtrl.appointment_object['appt_status']">
            			<div class="dash-customer-block-detail-rowL">Appointment Status</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['appt_status']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix" ng-if="!!dashboardCustomerProfileCtrl.appointment_object['key_status']">
            			<div class="dash-customer-block-detail-rowL">Key Status</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['key_status']}}</div>
            		</div>
            			<div class="dash-customer-block-detail-row clearfix" ng-if="!!dashboardCustomerProfileCtrl.appointment_object['key_slot']">
            			<div class="dash-customer-block-detail-rowL">Key Slot</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['key_slot']}}</div>
            		</div>
            		<div class="dash-customer-block-detail-row clearfix"  ng-if="!!dashboardCustomerProfileCtrl.appointment_object['qr_status']">
            			<div class="dash-customer-block-detail-rowL">QR Status</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['qr_status']}}</div>
            		</div>

            		<div class="dash-customer-block-detail-row clearfix" ng-if="!!dashboardCustomerProfileCtrl.appointment_object['appt_comment']">
            			<div class="dash-customer-block-detail-rowL">Appointment Comments</div>
            			<div class="dash-customer-block-detail-rowR">{{dashboardCustomerProfileCtrl.appointment_object['appt_comment']}}</div>
            		</div>
            		<h1>Services Requested</h1>
            		<div ng-if="!!dashboardCustomerProfileCtrl.appointment_object['manual_services']">
	                    <style>
	                    	.dash-customer-service-wrap{
	                    		width:100%;
	                    		background:#f7f7f7;
	                    		margin:0 0 1em 0;
	                    		padding:1em;
	                    	}
	                    	.dash-customer-service-wrap h1{
	                    		width:100%;
	                    		margin:0;
	                    	}
	                    	.dash-customer-service-path-wrap{
	                    		width:100%;
	                    		background:#f1f1f1;
	                    		margin:0 0 1em 0;
	                    	}

	                    </style>
	                    <div class="dash-customer-service-wrap"  ng-repeat="manual_service in dashboardCustomerProfileCtrl.appointment_object['manual_services']">
	                    	<h1>{{ manual_service['name'] }}</h1>
	                    	<p>{{ manual_service['description'] }}</p>
	                    </div>

               		 </div>
               		 <h1>User Path</h1>
               		 <div class="dash-customer-service-path-wrap">
               		 	<div ng-if="!!dashboardCustomerProfileCtrl.appointment_object['logging_list']">
			                <div class="vehicle-blockR vehicle-manualR" ng-repeat="log in dashboardCustomerProfileCtrl.appointment_object['logging_list']">
			                    <h3>{{log['url_path']}} was accessed on {{log['access_date']}}.</h3>
			                </div>
			            </div>
               		 </div>
            	</div>
            </div>
        </div>
    </div>
</div>