
<div class="app-body-inner-nobg">

<!--SERVICE TALLY CONFIRM-->
<div class="app-body-top">
    <h1>Payment Estimation</h1>
    <h4>Please confirm the estimated total for services requested.</h4>
</div><!--END app-body-top-->

<div class="alt-top-block" style="margin:0em auto 1em auto;">
	<h4 style="padding: 0em 0 0em 0;">{{servicesTallyCtrl.vehicle_name}}</h4>
	<div ng-if="servicesTallyCtrl.vehicle.image" class="alt-top-block-imgwrap">
       <img ng-src="{{servicesTallyCtrl.vehicle.image}}" alt="Ford" />
    </div>
    <div class="alt-top-block-in clearfix">
        <div class="alt-top-block-inL">&nbsp;</div>
        <div class="alt-top-block-inR">
            <div class="alt-top-block-in-row" ng-if="servicesTallyCtrl.vin != null">
                <h3><span class="heavy">VIN: &nbsp;</span>{{servicesTallyCtrl.vin}}</h3>
            </div>
            <div class="alt-top-block-in-row" ng-if="servicesTallyCtrl.mileage != null">
                <h3><span class="heavy">MILES: &nbsp;</span>{{servicesTallyCtrl.mileage|number}}</h3>
            </div>
        </div>
    </div>
</div>
	

    <div id="placeHolder"></div>
    <!--SERVICE TALLY CONFIRM-->
    <div class="app-body-top">
        <h1>Payment Estimation</h1>
        <h4>Please confirm the estimated total for services requested.</h4>
    </div><!--END app-body-top-->

    <div class="payment-approve-wrap">
        <div class="payment-approve-wrap-top clearfix">
            <div class="payment-approve-wrap-topL">
                <h3>{{servicesTallyCtrl.customerDict['first_name']}} {{servicesTallyCtrl.customerDict['last_name']}}</h3>
                <h4>{{servicesTallyCtrl.customerDict['street']}}</h4>
                <h4>{{servicesTallyCtrl.customerDict['city']}}, {{servicesTallyCtrl.customerDict['state']}} {{servicesTallyCtrl.customerDict['zipcode']}}</h4>
            </div>
            <div class="payment-approve-wrap-topR">
                <h3>RO#: 0900029</h3>
                <h4>1/12/17</h4>
                <h4>12:24 PM</h4>
            </div>
        </div>
    </div>


    <div class="payment-approve-wrap-mid clearfix">
        <div class="payment-approve-wrap-mid-row clearfix" ng-repeat="service in servicesTallyCtrl.combined_services">
            <div class="payment-approve-wrap-mid-rowL">{{ service.data.name }}</div>
            <div class="payment-approve-wrap-mid-rowR">${{ service.data.price|number:2 }}</div>
        </div>
    </div>

    <!--<h2>Scheduled Services</h2>-->
    <!--<div class="payment-approve-wrap-mid clearfix">-->
        <!--<div class="payment-approve-wrap-mid-row clearfix" ng-repeat="service in servicesTallyCtrl.services">-->
            <!--<div class="payment-approve-wrap-mid-rowL">{{ service.name }}</div>-->
            <!--<div class="payment-approve-wrap-mid-rowR">${{ service.price|number }}</div>-->
        <!--</div>-->
    <!--</div>-->
    <!---->
	<!--<h2>Additional Services</h2>-->
    <!--<div class="payment-approve-wrap-mid clearfix">-->
        <!--<div class="payment-approve-wrap-mid-row clearfix" ng-repeat="upsell_service in servicesTallyCtrl.upsell_services">-->
            <!--<div class="payment-approve-wrap-mid-rowL">{{ upsell_service.name }}</div>-->
            <!--<div class="payment-approve-wrap-mid-rowR">${{ upsell_service.price|number }}</div>-->
        <!--</div>-->
    <!--</div>-->


        <!--<div class="payment-approve-wrap-bottom clearfix">
            <div class="payment-approve-wrap-bottomL">Upsell Total</div>
            <div class="payment-approve-wrap-bottomR">${{servicesTallyCtrl.upsell_service_total|number}}</div>
        </div>-->
        <div class="payment-approve-wrap-bottom clearfix">
            <div class="payment-approve-wrap-bottomL">Estimated Total</div>
            <div class="payment-approve-wrap-bottomR">${{servicesTallyCtrl.complete_total|number:2}}</div>
        </div>
    </div>
    <!--</div>-->
    <div class="payment-approve-signed-off">
        <h3>I hereby authorize the <span class="heavy">DEALERSHIP</span> to review my vehicle(s) for the elected repair work listed above to provide a cost total for necessary parts and labor.  I agree to provide employees of <span class="heavy">DEALERSHIP</span> to operate the above vehicle on any public roadway for inspection and testing purposes. </h3>
        <h4 style="font-weight:900; padding:1em 0 0 0; color: #0c375e;">By clicking 'Accept', you authorize vehicle service review.</h4>
    </div>

    <div class="manual-service-action">
        <a class="go-back" ng-click="servicesTallyCtrl.backToService()">&nbsp;</a>
        <a class="go-accept" ng-click="servicesTallyCtrl.finalize()">&nbsp;</a>
    </div>
</div>
