<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg" >
    <div class="app-body-top">
        <div class="get-back">
            <a href="#" ng-click="fordLogInCtrl.backTohome()">
                BACK
            </a>
        </div>
        <h1>Customer Login</h1>
        <h4>Please enter your information below to begin the process.</h4>
    </div><!--END app-body-top-->
    <div class="register-block-wrap clearfix">
        <div class="register-block-wrap-top clearfix">
            <div class="register-block-wrap-topL">
                <h2>Sign in to Ford Owner</h2>
            </div>
            <div class="register-block-wrap-topR">
                <img class="pass-logo-reg" src="img/ford_pass_logo_sm.png" alt="Ford" />
            </div>
        </div>
        <form name="fordLogInForm" ng-submit="fordLogInCtrl.update(fordLogInForm.$valid ,fordLogInCtrl.form)">
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Username</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyMail" ng-model="fordLogInCtrl.form.username" name="fordusername" required>
                    <span ng-show="fordLogInForm.firstName.$touched && fordLogInForm.firstName.$invalid">Username is required.</span>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Password</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="password" class="goKeyMail" ng-model="fordLogInCtrl.form.password" name="fordpass" required>
                    <span ng-show="fordLogInForm.firstName.$touched && fordLogInForm.firstName.$invalid">Password is required.</span>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="midR-mod">
                    <input class="reg-button" type="submit" value="Sign In">
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-divider">&nbsp;</div>
        </form>
        <div class="register-block-wrap-bottom clearfix">
            <div class="register-block-wrap-bottomL">
                <h2>No FordPass account?</h2>
            </div>
            <div class="register-block-wrap-bottomR clearfix">
                <a ng-href="#license-scan" ng-click="fordLogInCtrl.change_page('scanLicense')" ng-show="fordLogInCtrl.isScannerActive">
                    <div class="register-block-wrap-bottom-button clearfix">
                        <div class="register-block-wrap-bottom-buttonL">&nbsp;</div>
                        <div class="register-block-wrap-bottom-buttonR"><h4>License Scan</h4></div>
                    </div>
                </a>
                <a ng-href="#customer-form" ng-click="fordLogInCtrl.change_page('manualEntry')">
                    <div class="register-block-wrap-bottom-button clearfix">
                        <div class="register-block-wrap-bottom-buttonL" style="background-image: url('img/ford-icon5.png');">&nbsp;</div>
                        <div class="register-block-wrap-bottom-buttonR"><h4>Manual Entry</h4></div>
                    </div>
                </a>
            </div>
        </div><!--END register-block-wrap-bottom-->
    </div><!--END register-block-wrap-->

    <!-- Modal for errorPaymentServicePopup-->
    <div id="errorLicenseServicePopup" class="modal fade" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Unable To Scan</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <h2 id="popup">
                            License scan device is not available.
                        </h2>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->