<!--DROP OFF MAIN LOGIN-->

    <div class="vehicle-block clearfix">

        <div>
            <div class="payment-approve-wrap-topL" ng-if="!!adminReturnKeyCtrl.appointment['customer']">
                <h3>{{adminReturnKeyCtrl.appointment['customer']['first_name']}} {{adminReturnKeyCtrl.appointment['customer']['last_name']}}</h3>
                <h4>{{adminReturnKeyCtrl.appointment['customer']['street']}}</h4>
                <h4>{{adminReturnKeyCtrl.appointment['customer']['city']}}, {{adminReturnKeyCtrl.appointment['customer']['state']}} {{adminReturnKeyCtrl.appointment['customer']['zipcode']}}</h4>
                <h4>{{adminReturnKeyCtrl.appointment['customer']['phone']}}, {{adminReturnKeyCtrl.appointment['customer']['email']}}</h4>
            </div>
            <div class="payment-approve-wrap-topL" ng-if="!!!adminReturnKeyCtrl.appointment['customer']">
                <h3>No customer data found for this record.</h3>
            </div>
        </div>

        <div class="vehicle-block vehicle-block-manual clearfix" style="margin: 0 auto 0 auto">
            <div class="vehicle-blockR vehicle-manualR" ng-if="!!adminReturnKeyCtrl.appointment['vehicle']">
                <h4 style="padding: 0em 0 0em 0;">{{adminReturnKeyCtrl.appointment['vehicle']['year']}} {{adminReturnKeyCtrl.appointment['vehicle']['make']}} {{adminReturnKeyCtrl.appointment['vehicle']['model']}} {{adminReturnKeyCtrl.appointment['vehicle']['series']}}</h4>
                <div class="vehicle-blockR-in clearfix">
                    <div class="vehicle-blockR-inL">&nbsp;</div>
                    <div class="vehicle-blockR-inR">
                        <div class="apt-detail-row">
                            <h3><span class="heavy">VIN: &nbsp;</span>{{adminReturnKeyCtrl.appointment['vehicle']['vin']}}</h3>
                        </div>
                        <div class="apt-detail-row">
                            <h3><span class="heavy">MILES: &nbsp;</span>{{adminReturnKeyCtrl.appointment['vehicle']['mileage'] | number}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vehicle-blockR vehicle-manualR" ng-if="!!!adminReturnKeyCtrl.appointment['vehicle']">
                <h3>No vehicle data found for this record.</h3>
            </div>
        </div>
    </div>
    <div class="register-block-wrap manual-reg clearfix">
        <div class="register-block-wrap-mid clearfix">
            <div class="register-block-wrap-midL">
                <h3>Key Drop Slot</h3>
            </div>
            <h3>Please retrieve customer's key from key slot {{adminReturnKeyCtrl.key_slot}}.  An LED light has been turned on in the back.</h3>
        </div><!--END register-block-wrap-mid-->

        <div class="register-block-wrap-bottomR clearfix">
            <a ng-href="" ng-click="adminReturnKeyCtrl.finalize()">
                <div class="register-block-wrap-bottom-button clearfix">
                    <div class="register-block-wrap-bottom-buttonL">&nbsp;</div>
                    <div class="register-block-wrap-bottom-buttonR"><h4>Finalize Pickup</h4></div>
                </div>
            </a>
        </div>
    </div><!--END register-block-wrap-->
    <div class="register-block-wrap manual-reg clearfix" ng-if="adminReturnKeyCtrl.process_confirmed">
        <div class="register-block-wrap-mid clearfix">
            <div class="register-block-wrap-midL">
                <h3>Process Complete</h3>
            </div>
            <h3>Key removed, process complete.</h3>
        </div><!--END register-block-wrap-mid-->

        <div class="register-block-wrap-bottomR clearfix">
            <a ng-href="" ng-click="adminReturnKeyCtrl.change_page()">
                <div class="register-block-wrap-bottom-button clearfix">
                    <div class="register-block-wrap-bottom-buttonL">&nbsp;</div>
                    <div class="register-block-wrap-bottom-buttonR"><h4>Confirm</h4></div>
                </div>
            </a>
        </div>
    </div><!--END register-block-wrap-->
    <script src="js/keyboard/keyboard.js"></script>