<!--DROP OFF MAIN LOGIN-->

    <style>
    	.key-return-wrap{
    		width:100%;
    	}
    	.key-return-wrap-top{
    		width:40%;
    		background:blue;
    		margin:1em auto;
    		text-align:center;
    		padding:1em;
    		color:#fff;
    	}
    	.key-return-wrap-top h1{
    		font-size:24px;
    	}
    	.key-return-wrap-top h2{
    		font-size:12px;
    	}
    	.key-return-wrap-mid{
    		width:60%;
    		margin:0 auto;
    	}
    	.key-return-wrap-mid a{
    		width:48%;
    		float:left;
    		display:block;
    		padding:1em;
    		margin:0 1% 0 1%;
    		background:green;
    		color:#fff;
    	}
    	.key-return-wrap-mid2{
    		width:60%;
    		margin:0 auto;
    	}
    	.key-return-wrap-mid3{
    		width:60%;
    		margin:0 auto;
    	}
    	.key-return-wrap-mid4{
    		width:60%;
    		background:yellow;
    		margin:0 auto;
    	}
    </style>
    <div ng-if="!!!adminKeydropFormCtrl.appointment['vehicle']">
        <h3>No vehicle data found for this record.</h3>
    </div>
    <div class="key-return-wrap">
		   <div class="key-return-wrap-top">
				<h1>{{adminKeydropFormCtrl.appointment['customer']['first_name']}} {{adminKeydropFormCtrl.appointment['customer']['last_name']}}</h1>
				<h2>{{adminKeydropFormCtrl.appointment['vehicle']['year']}} {{adminKeydropFormCtrl.appointment['vehicle']['make']}} {{adminKeydropFormCtrl.appointment['vehicle']['model']}} {{adminKeydropFormCtrl.appointment['vehicle']['series']}}</h2>
		  </div>
		  <div class="key-return-wrap-mid clearfix" ng-if="adminKeydropFormCtrl.swap_div == false && adminKeydropFormCtrl.price_given == false">
		  	<a ng-href="" ng-click="adminKeydropFormCtrl.appointment_payment_update('paid')">
               PAID
            </a>
		  	<a ng-href="" ng-click="adminKeydropFormCtrl.appointment_payment_update('not paid')">
                NOT PAID
            </a>
		  </div>
		  <div class="key-return-wrap-mid2 clearfix" ng-if="adminKeydropFormCtrl.swap_div && adminKeydropFormCtrl.price_given == false">
		  	 <form name="serviceForm" ng-submit="adminKeydropFormCtrl.update(serviceForm.$valid ,adminKeydropFormCtrl.service_form)">
	            <div class="register-block-wrap-mid clearfix">
	                <div class="register-block-wrap-midL">
	                    <h3>Service Total</h3>
	                </div>
	                <div class="register-block-wrap-midR">
	                    <input type="text" class="goKeyName" ng-model="adminKeydropFormCtrl.service_form.service_total" name="service_total" required>
	                    <span ng-show="keydrop_form.service_total.$touched && keydrop_form.service_total.$invalid">Service Total is required.</span>
	                </div>
	            </div><!--END register-block-wrap-mid-->
	
	            <div class="register-block-wrap-mid clearfix">
	                <div class="midR-mod">
	                    <input class="reg-button" type="submit" value="Submit">
	                </div>
	            </div><!--END register-block-wrap-mid-->
      		  </form>
		  </div>
		   <div class="key-return-wrap-mid3 clearfix" ng-if="adminKeydropFormCtrl.price_given">
		   		 <h3>Key Drop Slot</h3>
		   		 <h3>Please place customer's key into key slot {{adminKeydropFormCtrl.key_slot}}.  An LED light has been turned on in the back.</h3>
	       		 <a ng-href="" ng-click="adminKeydropFormCtrl.finalize()">
	               FINALIZE
	            </a>
		   </div>
		   <div class="key-return-wrap-mid4 clearfix" ng-if="adminKeydropFormCtrl.process_confirmed">
		   		 <h3>Process Complete</h3>
		   		 <h3>Key confirmed, process complete.</h3>
		   		 <a ng-href="" ng-click="adminKeydropFormCtrl.change_page()">
	               CONFIRM
	            </a>
		   </div>
		   
		   
    </div>


    <script src="js/keyboard/keyboard.js"></script>