﻿body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: hidden;
   /* overflow-x: auto;
    overflow-y: auto;*/
}

.popup {
    width: 100% !important;
    margin: 0 !important;
}

.modal-header {
    background-color: gray;
}

.modal-title {
    color: white;
}

.modal-body {
    height: 275px;
}

#popup {
    text-align: center;
    position: relative;
    top: 109px;
    font-size: 25px;
}

a {
    cursor: pointer;
}

    a[disabled] {
        pointer-events: none;
        color: #95979A;
        opacity: 0.5;
    }
