<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg">

    <div ng-if="serviceCreationCtrl.service_added">
        <!--SERVICE CREATION SUCCESSFUL NOTIFICATION-->
        <div class="final-payment-status clearfix">
            <div class="final-payment-statusL">
                <img src="img/c-card6.png" alt="Ford">
            </div>
            <div class="final-payment-statusR">
                <h1>Service saved successfully!</h1>
            </div>
        </div>
    </div>

    <div ng-if="serviceCreationCtrl.service_failed">
        <!--SERVICE CREATION FAILED NOTIFICATION-->
        <div class="final-payment-status clearfix">
            <div class="final-payment-statusL">
                <img src="img/c-card6.png" alt="Ford">
            </div>
            <div class="final-payment-statusR">
                <h1>Service save failed, please try again.</h1>
            </div>
            <div class="final-payment-statusR" ng-if="serviceCreationCtrl.error_message">
                <h1>Error: {{serviceCreationCtrl.error_message}}</h1>
            </div>
        </div>
    </div>

    <div class="app-body-top">
        <div class="get-back">
            <a onclick="goBack()">
                BACK
            </a>
        </div>
        <h1>Service Creation</h1>
        <h4>Please enter your service information below.</h4>
    </div><!--END app-body-top-->
    <div class="register-block-wrap manual-reg clearfix">
        <form name="serviceCreationForm" ng-submit="serviceCreationCtrl.update(serviceCreationForm.$valid ,serviceCreationCtrl.service_form)">
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Service Name</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyName" ng-model="serviceCreationCtrl.service_form.service_name" name="service_name" ng-minlength="1" ng-maxlength="1500" required>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Service Description</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyName" ng-model="serviceCreationCtrl.service_form.service_description" name="service_description" ng-minlength="1" ng-maxlength="15000">
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Service Price</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="number" class="goKeyNumber" ng-model="serviceCreationCtrl.service_form.service_price" name="service_price">
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Service Price Details</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyName" ng-model="serviceCreationCtrl.service_form.service_price_details" name="service_price_details" ng-minlength="1" ng-maxlength="15000">
                </div>
            </div><!--END register-block-wrap-mid-->
            <!--<div class="register-block-wrap-mid clearfix">-->
                <!--<div class="register-block-wrap-midL">-->
                    <!--<h3>Street</h3>-->
                <!--</div>-->
                <!--<div class="register-block-wrap-midR">-->
                    <!--<input type="text" class="goKeyMail" ng-model="customerFormCtrl.cust_form.street" name="street">-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;END register-block-wrap-mid&ndash;&gt;-->

            <div class="register-block-wrap-mid clearfix">
                <div class="midR-mod">
                    <input class="reg-button" type="submit" value="Submit">
                </div>
            </div><!--END register-block-wrap-mid-->
        </form>
    </div><!--END register-block-wrap-->
    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->