<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg" >
    <div class="app-body-top" style="padding: 3em 0 1em 0;">
        <h1>Hi, {{pinCreateCtrl.customer_name}}!</h1>
    </div><!--END app-body-top-->
    <div class="register-block-wrap phone-email-collect clearfix">
        <h2>Please create your PIN and verify below.</h2>
        <form name="pinCreateForm" ng-submit="pinCreateCtrl.update(pinCreateForm.$valid)">
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Pin</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input class="goKeyNumber" name="pin_original" ng-model="pinCreateCtrl.pin1" type="number" ng-minlength="4" ng-maxlength="4" required>
                    <span ng-show="pinCreateForm.pin_original.$touched && pinCreateForm.pin_original.$invalid">4 digit pin required.</span>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Verify Pin</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input class="goKeyNumber" ng-blur="pinCreateCtrl.checkMatch()" name="pin_duplicate" ng-model="pinCreateCtrl.pin2" type="number" ng-minlength="4" ng-maxlength="4" required>
                    <span ng-show="pinCreateForm.pin_duplicate.$touched && pinCreateForm.pin_duplicate.$invalid">4 digit pin required.</span>
                    <span ng-show="pinCreateForm.pin_duplicate.$touched && pinCreateCtrl.IsMatch == false">Pins must match and be valid.</span>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="midR-mod">
                    <input class="reg-button-image go-finish" type="submit" value="">
                </div>
            </div><!--END register-block-wrap-mid-->
        </form>
    </div><!--END register-block-wrap-->
    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->