<!--SIGNATURE PAGE-->
<div class="app-body-inner-nobg">

    <div class="vehicle-block vehicle-block-manual clearfix" style="margin:3em auto 0em auto">
        <div class="vehicle-blockR vehicle-manualR">

            <h2>{{servicesSignatureCtrl.customer_name}}</h2>
            <h4>{{servicesSignatureCtrl.vehicle_name}}</h4>
            <div class="vehicle-blockR-in clearfix">
                <div class="vehicle-blockR-inL">&nbsp;</div>
                <div class="vehicle-blockR-inR">
                    <div class="apt-detail-row" ng-if="servicesSignatureCtrl.vin != null">
                        <h3><span class="heavy">VIN: &nbsp;</span>{{servicesSignatureCtrl.vin}}</h3>
                    </div>
                    <div class="apt-detail-row" ng-if="servicesSignatureCtrl.mileage != null">
                        <h3><span class="heavy">MILES: &nbsp;</span>{{servicesSignatureCtrl.mileage|number}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="app-body-top" style="padding: 1em 0 1em 0;">
        <h1>Service Approval</h1>
    </div><!--END app-body-top-->
    <div class="service-signed-off-wrap">
        <div class="service-signed-off-wrap-top clearfix">
            <div class="service-signed-off-wrap-topL">
                <h3>Services:</h3>
            </div>
            <div class="service-signed-off-wrap-topR">
                <p>{{servicesSignatureCtrl.manual_services_string}}</p>
            </div>
        </div>
        <div class="service-signed-off-wrap-mid">
            <h3>I hereby authorize the <span class="heavy">DEALERSHIP</span> to review my vehicles for the elected repair work listed above to provide a cost total for necessary parts and labor.  I agree to provide employees of <span class="heavy">DEALERSHIP</span> to operate the above vehicle on any public roadway for inspection and testing purposes. </h3>
         <h4 style="font-weight:900; padding:1em 0 0 0; color: #0c375e;">By clicking 'Accept', you authorize vehicle service review.</h4>
		 </div>
    </div>

    <div class="manual-service-action">
        <a class="go-back" ng-click="servicesSignatureCtrl.backToService()">&nbsp;</a>
        <a class="go-accept" ng-click="servicesSignatureCtrl.done()">&nbsp;</a>
    </div>

</div>