<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg" >
    <div class="app-body-top" style="padding: 3em 0 1em 0;">
        <h1>Confirm Information</h1>
        <h2>Is the information below correct?</h2>
    </div><!--END app-body-top-->
    <!--<div class="vehicle-block vehicle-block-manual clearfix" style="margin:0em auto 0em auto; padding:0em 0 1em 0;">-->
        <!--<div class="vehicle-blockR vehicle-manualR">-->
            <!--<h4>{{manualInfoConfirmCtrl.vehicle_name}}</h4>-->
            <!--<div class="vehicle-blockR-in clearfix">-->
                <!--<div class="vehicle-blockR-inL">&nbsp;</div>-->
                <!--<div class="vehicle-blockR-inR">-->
                    <!--<div class="apt-detail-row2" ng-if="manualInfoConfirmCtrl.vin != null">-->
                        <!--<h3><span class="heavy">VIN: &nbsp;</span>{{manualInfoConfirmCtrl.vin}}</h3>-->
                    <!--</div>-->
                    <!--<div class="apt-detail-row2" ng-if="manualInfoConfirmCtrl.mileage != null">-->
                        <!--<h3><span class="heavy">MILES: &nbsp;</span>{{manualInfoConfirmCtrl.mileage|number}}</h3>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="confirm-scan-block-manual">
        <div class="confirm-scan-block-in">
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">First</div>
                <div class="confirm-scan-block-in-rowR">{{manualInfoConfirmCtrl.customerDict['first_name']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">Last</div>
                <div class="confirm-scan-block-in-rowR">{{manualInfoConfirmCtrl.customerDict['last_name']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">Street</div>
                <div class="confirm-scan-block-in-rowR">{{manualInfoConfirmCtrl.customerDict['street']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">City</div>
                <div class="confirm-scan-block-in-rowR">{{manualInfoConfirmCtrl.customerDict['city']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">State</div>
                <div class="confirm-scan-block-in-rowR">{{manualInfoConfirmCtrl.customerDict['state']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">Zip</div>
                <div class="confirm-scan-block-in-rowR">{{manualInfoConfirmCtrl.customerDict['zipcode']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">Phone</div>
                <div class="confirm-scan-block-in-rowR">{{manualInfoConfirmCtrl.customerDict['phone']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">Email</div>
                <div class="confirm-scan-block-in-rowR">{{manualInfoConfirmCtrl.customerDict['email']}}</div>
            </div>
        </div>
        <div class="confirm-scan-block-action">
            <a ng-href="" ng-click="manualInfoConfirmCtrl.change_page('serviceManual')">
                <img src="img/ford-correct.png" alt="Ford" />
            </a>
            <a ng-href="#customer-form" ng-click="manualInfoConfirmCtrl.change_page('customerForm')">
                <img src="img/ford-reenter.png" alt="Ford" />
            </a>
        </div>
    </div>
</div><!--END app-body-inner-->