<style>
	.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab{
		background:white;
		border:1px solid #2d96cd;
		color:#2d96cd;
	}
	.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover{
		background:white;
		border:1px solid #2d96cd;
		color:#2d96cd;
	}

	.md-button {
		margin: 6px 0 0 0;
		font-size: 10px;
		line-height: 26px;
        min-height: 26px;
	}
	.md-button.md-raised:not([disabled]) {
	    box-shadow: none;
	}
	.md-title {
		margin-bottom:15px;
	}
	.md-button.md-default-theme.md-primary, .md-button.md-primary{
		color:#0C375E;
	}

</style>

<div class="app-body-inner-nobg">
    <div class="app-body-top">
        <h1>Service Confirmation</h1>
        <h4>Please confirm the services you requested.</h4>
    </div><!--END app-body-top-->
    <div class="manual-service-check-wrap clearfix">
        <div class="manual-service-check-wrapL">
            <h2>{{servicesManualConfirmCtrl.customer_name}}</h2>
            <h4>{{servicesManualConfirmCtrl.vehicle_name}}</h4>
            <div class="manual-service-check-wrapL-in clearfix">
                <div class="manual-service-check-wrapL-in1">&nbsp;</div>
                <div class="manual-service-check-wrapL-in2">
                    <div class="apt-detail-row2" ng-if="servicesManualConfirmCtrl.vin != null">
                        <h3><span class="heavy">VIN: &nbsp;</span>{{servicesManualConfirmCtrl.vin}}</h3>
                    </div>
                    <div class="apt-detail-row2" ng-if="servicesManualConfirmCtrl.mileage != null">
                        <h3><span class="heavy">MILES: &nbsp;</span>{{servicesManualConfirmCtrl.mileage|number}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="manual-service-check-wrapR" ng-scrollbars ng-scrollbars-config="servicesManualConfirmCtrl.config">
            <div class="manual-service-check-wrapR-row clearfix" ng-repeat="(service, comment) in servicesManualConfirmCtrl.complete_manual_services_list">
                <div class="manual-service-check-wrapR-rowL">&nbsp;</div>
                <div class="manual-service-check-wrapR-rowR">
                    <h2>{{service}}</h2>
                    <md-button class="md-primary md-raised" ng-click="servicesManualConfirmCtrl.showDialog($event, comment)" flex="100"  flex-gt-md="auto">
                        View Details
                    </md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="manual-service-action">
        <a class="go-back" ng-click="servicesManualConfirmCtrl.backToService()">&nbsp;</a>
        <a class="go-next" ng-click="servicesManualConfirmCtrl.change_page()">&nbsp;</a>
    </div>
</div>