<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg" >
    <div class="app-body-top" style="padding: 3em 0 1em 0;">
        <h1>Hi, {{manualMoreInfoCtrl.customer_name}}!</h1>
    </div><!--END app-body-top-->
    <div class="register-block-wrap phone-email-collect clearfix">
        <h2>Please enter your phone number and email address.</h2>
        <form name="manualMoreInfoForm" ng-submit="manualMoreInfoCtrl.update(manualMoreInfoForm.$valid ,manualMoreInfoCtrl.form)">
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Phone</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input class="goKeyNumber" ng-model="manualMoreInfoCtrl.form.phone" type="text">
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Email</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input class="goKeyMail" ng-model="manualMoreInfoCtrl.form.email" type="text">
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Contact Preference</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="radio" ng-model="manualMoreInfoCtrl.form.contactPreference" value="phone">Phone<br>
                    <input type="radio" ng-model="manualMoreInfoCtrl.form.contactPreference" value="email">Email
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="midR-mod">
                    <input class="reg-button-image go-finish" type="submit" value="">
                </div>
            </div><!--END register-block-wrap-mid-->
        </form>
    </div><!--END register-block-wrap-->
    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->