<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-nobg">
   <!--READY TO SCAN NOTIFICATION-->
    <div class="final-payment-status clearfix">
        <div class="final-payment-statusL">
            <img src="img/c-card.png" alt="Ford"/>
        </div>
        <div class="final-payment-statusR">
            <h1>Pay Now!</h1>
            <h3>Pay with credit card to finalize services.</h3>
        </div>
    </div>   
    <div ng-show="paymentScanCtrl.devMode">
        <button class="btn btn-info btn-lg" data-toggle="modal" ng-click="paymentScanCtrl.validSwap()">scan valid card</button>
        <button class="btn btn-info btn-lg" data-toggle="modal" ng-click="paymentScanCtrl.invalidSwap()">scan invalid card</button>
    </div>

    <!--&lt;!&ndash;PAYMENT PROCESS NOTIFICATION&ndash;&gt;-->
    <!--<div class="final-payment-status clearfix">-->
        <!--<div class="final-payment-statusL" style="text-align:center;">-->
            <!--<img class="spinimg" src="img/spin-pay.svg" alt="Ford"/>-->
        <!--</div>-->
        <!--<div class="final-payment-statusR">-->
            <!--<h1 style="color:#2d96cd;">Processing!</h1>-->
            <!--<h3>Please wait for payment to process.</h3>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;PAYMENT ERROR NOTIFICATION&ndash;&gt;-->
    <!--<div class="final-payment-status clearfix">-->
        <!--<div class="final-payment-statusL">-->
            <!--<img src="img/c-card1.png" alt="Ford"/>-->
        <!--</div>-->
        <!--<div class="final-payment-statusR">-->
            <!--<h1 style="color:red">Payment Error!</h1>-->
            <!--<h3>Plese quickly re-insert your credit card.</h3>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;PAYMENT SUCCESS NOTIFICATION&ndash;&gt;-->
    <!--<div class="final-payment-status clearfix">-->
        <!--<div class="final-payment-statusL">-->
            <!--<img src="img/c-card2.png" alt="Ford"/>-->
        <!--</div>-->
        <!--<div class="final-payment-statusR">-->
            <!--<h1 style="color:#91c73e">Payment Success!</h1>-->
            <!--<h3>Pay with credit card to finalize services.</h3>-->
        <!--</div>-->
    <!--</div>-->

    <div class="final-pay-wrap clearfix">
        <div class="final-pay-wrapL">
            <div class="final-pay-wrapL-in">
                <h1>{{paymentScanCtrl.customer_name}}</h1>
                <h2><span class="heavy">RO#:</span> 0900029</h2>
                <h3>{{paymentScanCtrl.vehicle_name}}</h3>
                <h4><span class="heavy">VIN: &nbsp;</span>{{paymentScanCtrl.vin}}</h4>

                <!--<div class="final-pay-calc-wrap">-->
                    <!--<div class="final-pay-calc-wrap-row clearfix" ng-repeat="service in paymentScanCtrl.services">-->
                        <!--<div class="final-pay-calc-wrap-rowL">${{ service.name }}</div>-->
                        <!--<div class="final-pay-calc-wrap-rowR">${{ service.price|number }}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="payment-approve-wrap-mid clearfix">
                    <div class="payment-approve-wrap-mid-row clearfix" ng-repeat="manual_service in paymentScanCtrl.manual_services_list">
                        <div class="payment-approve-wrap-mid-rowL">{{ manual_service['name'] }}</div>
                    </div>
                </div>
                <div class="final-pay-total-wrap clearfix">
                    <div class="final-pay-total-wrapL">Total</div>
                    <div class="final-pay-total-wrapR">${{paymentScanCtrl.service_total|number:2}}</div>
                </div>
            </div>
        </div>
        <div class="final-pay-wrapR">
            <img src="img/ccinsert.jpg" alt="Ford" class="img-responsive center-block" />
        </div>
    </div>

    <div class="lic-scan-progress">
        <img src="img/arrow1.gif" alt="Ford" class="img-responsive center center-block" style="width:5% !important;" />
    </div>

    <div class="manual-service-action"  ng-click="paymentScanCtrl.change_page()" style="display:none;" >
        <a >&nbsp;</a>
    </div>

    <!--  PAYMENT ERROR NOTIFICATION MODEL POPUP -->
    <div class="modal fade" id="paymentErrorPopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="final-payment-status clearfix" style="width:100%;">
                        <div class="final-payment-statusL">
                            <img src="img/c-card1.png" alt="Ford" />
                        </div>
                        <div class="final-payment-statusR">
                            <h1 style="color:red">Payment Error!</h1>
                            <h3 ng-model="paymentScanCtrl.creditCardErrorMsg"></h3>
                            <h3>Plese quickly re-insert your credit card.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  PAYMENT PROCESS NOTIFICATION MODEL POPUP -->
    <div class="modal fade" id="paymentProgressPopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="final-payment-status clearfix" style="width:100%;">
                        <div class="final-payment-statusL" style="text-align:center;">
                            <img class="spinimg" src="img/spin-pay.svg" alt="Ford" />
                        </div>
                        <div class="final-payment-statusR">
                            <h1 style="color:#2d96cd;">Processing!</h1>
                            <h3>Please wait for payment to process.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  PAYMENT SUCCESS NOTIFICATION MODEL POPUP -->
    <div class="modal fade" id="paymentSuccessPopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="final-payment-status clearfix" style="width:100%;">
                        <div class="final-payment-statusL">
                            <img src="img/c-card2.png" alt="Ford" />
                        </div>
                        <div class="final-payment-statusR">
                            <h1 style="color:#91c73e">Payment Success!</h1>
                            <h3>Pay with credit card to finalize services.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--TODO: Comment this out before pushing!-->
    <a ng-click="paymentScanCtrl.validSwap()">Click Me!</a>

</div><!--END app-body-inner-->