<!--HOME PAGE-->
<div class="home-wrapper">
    <div class="home-wrapper-logo">
        <img src="img/open_logo2.png" alt="Ford" />
    </div>
    <div class="home-wrapper-action clearfix">
        <div class="home-wrapper-action-button">
            <a ng-click="homeCtrl.change_page('drop')">
                <img src="img/drop_button1.png" alt="Ford" />
            </a>
        </div>
        <div class="home-wrapper-action-button">
            <a  ng-click="homeCtrl.change_page('pickup')">
                <img src="img/drop_button2.png" alt="Ford" />
            </a>
        </div>       
    </div>
</div>