<style>
	.key-claim-topR h1 {
    margin: 1em 0 .25em 0;
	}
</style>


<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-nobg">
    <div class="app-body-top" style="padding: 3em 0 0em 0;">
        <div class="get-back">
            <a ng-click="qrScanCtrl.goBack()">
                BACK
            </a>
        </div>
        <div ng-show="{{qrScanCtrl.devMode}}">
            <button class="btn btn-info btn-lg" data-toggle="modal" ng-click="qrScanCtrl.scanQR()">Scan</button>
            <button class="btn btn-info btn-lg" data-toggle="modal" ng-click="qrScanCtrl.errorQRScan()">Error</button>
        </div>
    </div><!--END app-body-top-->
    
     <!--QR CODE SCANNER WAITING-->
     <div class="key-claim-top clearfix" style="width:65% !important;">
        <div class="key-claim-topL">
            <img src="img/keygr.png" alt="Ford" />
        </div>
        <div class="key-claim-topR">
            <h1>Scan QR Code!</h1>
            <h3>To begin the vehicle pick up process.</h3>
            <div>
                <div id="placeHolder"></div>
            </div>
        </div>
    </div>
 
    
    
    <div class="key-claim-mid">
        <img src="img/qrcodepickup.jpg" alt="Ford" class="img-responsive center-block" style="width:85% !important;" />
    </div>
    <div class="lic-scan-progress">
        <img src="img/arrow1.gif" alt="Ford" class="img-responsive center center-block" style="width:5% !important;" />
    </div>


    <div class="manual-service-action" >
        <a ng-disabled="{{qrScanCtrl.isScanned}}" ng-click="qrScanCtrl.change_page()">&nbsp;</a>
    </div>


    <!-- QR CODE SCANNER ERROR MODEL POPUP -->
    <div class="modal fade" id="qrScanErrorPopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="key-claim-top clearfix" style="width:100%;">
                        <div class="key-claim-topL">
                            <img src="img/qr-bad2.png" alt="Ford" />
                        </div>
                        <div class="key-claim-topR">
                            <h1 style="color:red;">QR Code Error!</h1>
                            <h3>Error reading Qr code.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- QR CODE SCANNER ERROR MODEL POPUP -->
    <div class="modal fade" id="sessionPopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="key-claim-top clearfix" style="width:100%;">
                        <div class="key-claim-topL">
                            <img src="img/qr-bad2.png" alt="Ford" />
                        </div>
                        <div class="key-claim-topR">
                            <h1 style="color:red;">Session timeout!</h1>
                            <h3>Your session timeout due to inactivity.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--  QR CODE SCANNER PROCESSING MODEL POPUP -->
    <div class="modal fade" id="messagePopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="key-claim-top clearfix" style="width:100%;">
                        <div class="key-claim-topL">
                        </div>
                        <div class="key-claim-topR">
                            <h1 style="color:#2d96cd;">Error!</h1>
                            <h3>{{qrScanCtrl.popupMessage}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  QR CODE SCANNER PROCESSING MODEL POPUP -->
    <div class="modal fade" id="qrScanProgressPopup" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="key-claim-top clearfix" style="width:100%;">
                        <div class="key-claim-topL">                          
                        </div>
                        <div class="key-claim-topR">
                            <h1 style="color:#2d96cd;">Success!</h1>
                            <h3>Barcode scanned successfully.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!--END app-body-inner-->