<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg" >
    <div class="app-body-top">
        <div class="get-back">
            <a href="#" ng-click="licenseOrManualCtrl.backTohome()">
                BACK
            </a>
        </div>
        <h1>Customer Login</h1>
        <h4>Would you rather scan your license or enter your details manually?</h4>
    </div><!--END app-body-top-->
    <div class="register-block-wrap clearfix">
    <div class="register-block-wrap-bottomR clearfix">
        <a ng-href="#license-scan" ng-click="licenseOrManualCtrl.change_page('scanLicense')" ng-show="licenseOrManualCtrl.isScannerActive">
            <div class="register-block-wrap-bottom-button clearfix">
                <div class="register-block-wrap-bottom-buttonL">&nbsp;</div>
                <div class="register-block-wrap-bottom-buttonR"><h4>License Scan</h4></div>
            </div>
        </a>
        <a ng-href="#customer-form" ng-click="licenseOrManualCtrl.change_page('manualEntry')">
            <div class="register-block-wrap-bottom-button clearfix">
                <div class="register-block-wrap-bottom-buttonL" style="background-image: url('img/ford-icon5.png');">&nbsp;</div>
                <div class="register-block-wrap-bottom-buttonR"><h4>Manual Entry</h4></div>
            </div>
        </a>
    </div>
        <!-- Modal for errorPaymentServicePopup-->
    </div>
    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->

    <div id="errorLicenseServicePopup" class="modal fade" role="dialog" style="top:15% !important;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Unable To Scan</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <h2 id="popup">
                            License scan device is not available.
                        </h2>
                    </p>
                </div>
            </div>
        </div>
    </div>