<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg" >
    <div class="app-body-top" style="padding: 3em 0 1em 0;">
        <h1>Confirm Scan</h1>
    </div><!--END app-body-top-->
    <div class="confirm-scan-block">
        <h2>Is the information below correct?</h2>
        <div class="confirm-scan-block-in">
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">First</div>
                <div class="confirm-scan-block-in-rowR">{{licenseConfirmCtrl.dummyCustomer['first_name']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">Last</div>
                <div class="confirm-scan-block-in-rowR">{{licenseConfirmCtrl.dummyCustomer['last_name']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">Street</div>
                <div class="confirm-scan-block-in-rowR">{{licenseConfirmCtrl.dummyCustomer['street']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">City</div>
                <div class="confirm-scan-block-in-rowR">{{licenseConfirmCtrl.dummyCustomer['city']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">State</div>
                <div class="confirm-scan-block-in-rowR">{{licenseConfirmCtrl.dummyCustomer['state']}}</div>
            </div>
            <div class="confirm-scan-block-in-row clearfix">
                <div class="confirm-scan-block-in-rowL">Zip</div>
                <div class="confirm-scan-block-in-rowR">{{licenseConfirmCtrl.dummyCustomer['zipcode']}}</div>
            </div>
        </div>
        <div class="confirm-scan-block-action">
            <a ng-href="#more-info" ng-click="licenseConfirmCtrl.change_page('licenseConfirm')">
                <img src="img/ford-correct.png" alt="Ford" />
            </a>
            <a ng-href="#license-scan" ng-click="licenseConfirmCtrl.change_page('licenseScan')">
                <img src="img/ford-rescan.png" alt="Ford" />
            </a>
        </div>
    </div>
</div><!--END app-body-inner-->