<script>
    (function($){
        $(window).load(function(){
            $("#service-wrap-scroll2").mCustomScrollbar({
                axis:"y",
                theme:"light"
            });
        });
    })(jQuery);
</script>
<style>
	.mCSB_container_wrapper > .mCSB_container {
    padding-right: 0px;
   }
	
</style>
<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-nobg">
    <div class="vehicle-block vehicle-block-manual clearfix" style="margin:3em auto 0em auto">
        <div class="vehicle-blockR vehicle-manualR">
            <h2>{{servicesManualDescribeCtrl.customer_name}}</h2>
            <h4>{{servicesManualDescribeCtrl.vehicle_name}}</h4>
            <div class="vehicle-blockR-in clearfix">
                <div class="vehicle-blockR-inL">&nbsp;</div>
                <div class="vehicle-blockR-inR">
                    <div class="apt-detail-row" ng-if="servicesManualDescribeCtrl.vin != null">
                        <h3><span class="heavy">VIN: &nbsp;</span>{{servicesManualDescribeCtrl.vin}}</h3>
                    </div>
                    <div class="apt-detail-row" ng-if="servicesManualDescribeCtrl.mileage != null">
                        <h3><span class="heavy">MILES: &nbsp;</span>{{servicesManualDescribeCtrl.mileage|number}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="app-body-top" style="padding: 1em 0 2.5em 0;">
        <h1>Service Request Details</h1>
        <h4>Please provide detail about each service requested.</h4>
    </div><!--END app-body-top-->

    <div id="service-wrap-scroll-out2" ng-scrollbars ng-scrollbars-config="servicesManualCtrl.config">
        <div class="service-comment-row clearfix" ng-repeat="service in servicesManualDescribeCtrl.chosen_manual_services_list">
                <div class="service-comment-rowL">
                    <div class="service-item-block-comment">
                        <div class="service-item-block-comment-top">
                            &nbsp;
                        </div>
                        <div class="service-item-block-comment-bottom">
                            <h2>{{service}}</h2>
                        </div>
                    </div>
                </div>
                <div class="service-comment-rowR">

                    <!--<textarea ng-model="servicesManualDescribeCtrl.test[service]" ng-blur="servicesManualDescribeCtrl.update_choices(service,servicesManualDescribeCtrl.test[service])">-->
                    <textarea class="goKeyMail" ng-model="servicesManualDescribeCtrl.test[service]" ng-init="servicesManualDescribeCtrl.test[service] = servicesManualDescribeCtrl.manual_service_comment_list[service] || ''" placeholder="Please describe service required..." ng-change="servicesManualDescribeCtrl.update_choices(service,servicesManualDescribeCtrl.test[service])"></textarea>
                </div>
            </div>

    </div><!--end scroll wrap out-->

    <div class="manual-service-action">
        <a class="go-back" ng-click="servicesManualDescribeCtrl.backToService()">&nbsp;</a>
        <a class="go-next" ng-click="servicesManualDescribeCtrl.save_choices()">&nbsp;</a>
    </div>

    <div ng-if="servicesManualDescribeCtrl.chosen_manual_services_list != null">
        <script src="js/keyboard/keyboard.js"></script>
    </div>
</div><!--END app-body-inner-->
			   
			    
				