<div class="app-body-inner-nobg">

<!--SERVICE CONFIRM-->
<div class="vehicle-block vehicle-block-manual clearfix">


    <div class="vehicle-blockR vehicle-manualR">

        <h2>{{servicesManualCtrl.customer_name}}</h2>
        <h4>{{servicesManualCtrl.vehicle_name}}</h4>
        <div class="vehicle-blockR-in clearfix">
            <div class="vehicle-blockR-inL">&nbsp;</div>
            <div class="vehicle-blockR-inR">
                <div class="apt-detail-row" ng-if="servicesManualCtrl.vin != null">
                    <h3><span class="heavy">VIN: &nbsp;</span>{{servicesManualCtrl.vin}}</h3>
                </div>
                <div class="apt-detail-row" ng-if="servicesManualCtrl.mileage != null">
                    <h3><span class="heavy">MILES: &nbsp;</span>{{servicesManualCtrl.mileage|number}}</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="app-body-top" style="padding: 1em 0 2.5em 0;">
    <h1>What brings you here?</h1>
    <h4>Select the category of service you would like performed</h4>
</div>

<div class="item-container-wrap2" ng-scrollbars ng-scrollbars-config="servicesManualCtrl.config">
    <div class="test-rows">
        <div class="items-container2">

            <div class="service-item-block2" ng-repeat="service in servicesManualCtrl.service_array" match-height="">
                <div class="service-item-block-top3" style="background-image: url({{service.image_path !== undefined? service.image_path: 'img/services/batt1.png'}});">
                    <!--<div class="service-item-block-top1">-->
                        <!--<div class="clearfix" ng-if="service.price !== undefined">-->
                            <!--<div class="service-item-block-price2">-->
                                <!--{{ service.price }}-->
                            <!--</div>-->
                            <!--<div class="service-item-block-price1">-->
                                <!--$&nbsp;-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="service-item-block-top-details" ng-if="service.price_details !== undefined">-->
                            <!--<div class="slide-disclaim-box-control" price-details=".slide-{{ service._id }}">-->
                                <!--<p>View Price Details</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="service-item-block-top2">
                        <div class="roundedFour">
                            <input type="checkbox" ng-checked="servicesManualCtrl.checkboxStatus(service)" ng-click="servicesManualCtrl.update_choices( service )" value="None" id="product-selection-{{ service }}" name="service_checkbox">
                            <label for="product-selection-{{ service }}"></label>
                        </div>
                    </div>
                    <div class="slide-disclaim-box-content slide-{{ $index }}">
                        <div class="slide-disclaim-box-content-in">
                            <div class="slide-disclaim-box-text">
                                <h4>Price Details</h4>
                                <p>Details</p>
                            </div>
                            <div class="slide-disclaim-box-control box-contol-modify" price-details=".slide-{{ $index }}">
                                <div class="box-contol-modify-button">Close</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="service-item-block-bottom2">
                    <h2>{{ service }}</h2>
                    <!--<p>{{ service.description }}</p>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="manual-service-action" ng-click="servicesManualCtrl.save_choices()">
    <a href="#services-manual-describe">&nbsp;</a>
</div>

</div>

<!--<script>-->
<!--(function($){-->
<!--$(window).load(function(){-->
<!--$("#service-wrap-scroll").mCustomScrollbar({-->
<!--axis:"y",-->
<!--theme:"light"-->
<!--});-->
<!--});-->
<!--})(jQuery);-->
<!--</script>-->

<!--<script type="text/javascript">-->
    <!--(function() {-->

        <!--$(function() {-->
            <!--// apply your matchHeight on DOM ready (they will be automatically re-applied on load or resize)-->

            <!--// get test settings-->
            <!--var byRow = $('div').hasClass('test-rows');-->

            <!--// apply matchHeight to each item container's items-->
            <!--$('.items-container2').each(function() {-->
                <!--$(this).children('.service-item-block2').matchHeight({-->
                    <!--byRow: byRow-->
                <!--});-->
            <!--});-->

        <!--});-->

    <!--})();-->
<!--</script>-->