<div class="app-body-inner-nobg">
    <div class="app-body-top">
        <h1>Dashboard Summary</h1>
        <h4>Customer session information below.</h4>
    </div><!--END app-body-top-->

    
    <style>
    	.dash-topline-wrap{
    		width:100%;
    		padding:0 0 1em 0;
    		text-align:center;
    	}
    	.dash-topline-wrap a{
    		display:inline-block;
    		background:red;
    		color:#fff;
    		padding:1em;
    		margin:0 auto;
    	}
    </style>
    <div class="dash-topline-wrap">
        <a ng-href="#customer-form" ng-click="dashboardSummaryCtrl.add_customer_page()">
          CREATE NEW KEY DROP
        </a>

		<a ng-href="" ng-click="dashboardSummaryCtrl.change_view('active')">
			ACTIVE
		</a>

		<a ng-href="" ng-click="dashboardSummaryCtrl.change_view('archived')">
			ARCHIVED
		</a>
    </div>

    <div ng-scrollbars ng-scrollbars-config="dashboardSummaryCtrl.config">
         <style>
           		.dash-customer-wrap{
           			width:100%;
           		}
           		
           		.dash-customer-wrapL{
           			
           			width:20%;
           			float:left;
           		}
           		.dash-customer-wrapR{
           			
           			width:80%;
           			float:left;
           			padding-left:1em;
           		}
           		.dash-customer-block-info{
           			width:100%;
           			text-align:center;
           			padding:1em;
           		}
           		.dash-customer-block-info h1{
           			font-size:24px;
           			font-weight:900;
           		}
           		.dash-customer-block-info h2{
           			font-size:12px;
           		}
           		.dash-customer-block-action{
           			width:100%;
           			background:green;
           		}
           		.dash-customer-block-action a{
           			width:100%;
           			background:green;
           			text-align:center;
           			display:block;
           			padding:.5em;
           			color:#fff;
           		}
           		.dash-customer-block-detail{
           			width:100%;
           			
           		}
           		.dash-customer-block-detail h1{
           			font-size:24px;
           			color:black;
           			font-weight:900;
           			margin:1em 0 1em 0;
           			
           		}
           		.dash-customer-block-detail-row{
           			width:100%;
           			
           		}
           		.dash-customer-block-detail-rowL{
           			width:20%;
           			background:#f7f7f7;
           			float:left;
           			padding:.5em;
           		}
           		.dash-customer-block-detail-rowR{
           			width:80%;
           			background:white;
           			float:left;
           			padding:.5em;
           		}
           </style>
       
        <div class="dash-customer-wrap clearfix" ng-repeat="appointment in dashboardSummaryCtrl.appointment_object_list">
         	<div class="dash-customer-wrapL">
				<div class="dash-customer-block-info">
					<a ng-href="#dashboard-customer-profile" ng-click="dashboardSummaryCtrl.change_page(appointment['_id'],'CUSTOMERPROFILE')">
					<h1>{{appointment['customer']['first_name']}} {{appointment['customer']['last_name']}}</h1>
					<h2> {{appointment['vehicle']['year']}} {{appointment['vehicle']['make']}} {{appointment['vehicle']['model']}} {{appointment['vehicle']['series']}}</h2>
					</a>
				</div>
				
				<div class="dash-customer-block-action" ng-if="!!appointment['customer']">
                    <a ng-href="#admin-keydrop-form" ng-click="dashboardSummaryCtrl.change_page(appointment['_id'],'RETURNKEY')" ng-if="!appointment['key_slot'] && appointment['appt_status'] != 'completed'">
	                   RETURN KEY NOW
	                </a>
                    <a ng-href="#admin-return-key" ng-click="dashboardSummaryCtrl.change_page(appointment['_id'],'MANUALLYREMOVED')" ng-if="!!appointment['key_slot']">
	                  KEY MANUALLY REMOVED
	                </a>
           		 </div>
               		 </div>
            	</div>
            </div>
</div>