<div class="app-body-inner-nobg">

    <!--SERVICE CONFIRM-->
    <div class="app-body-top">
        <h1>Add recommended services?</h1>
        <h4>Select additonal services below.</h4>
    </div>

    <div class="vehicle-block clearfix">

        <div class="vehicle-blockL">
            <div class="vehicle-blockL-top">
                <h2>{{servicesUpsellCtrl.vehicle_name}}</h2>
            </div>
            <div ng-if=servicesUpsellCtrl.vehicle.image class="vehicle-blockL-imgwrap">
                <span class="helper"></span>
                <img ng-src={{servicesUpsellCtrl.vehicle.image}} alt="Ford" />
            </div>
            <div ng-if=!servicesUpsellCtrl.vehicle.image class="vehicle-blockL-imgwrap">
                <span class="helper"></span>
                <img ng-src="img/car-focus.png" alt="Ford" />
            </div>
        </div>
        <div class="vehicle-blockR">

            <h2>{{servicesUpsellCtrl.customer_name}}</h2>

            <div class="vehicle-blockR-in clearfix">
                <div class="vehicle-blockR-inL">&nbsp;</div>
                <div class="vehicle-blockR-inR">
                    <div class="apt-detail-row">
                        <h3><span class="heavy">VIN: &nbsp;</span>{{servicesUpsellCtrl.vin}}</h3>
                    </div>
                    <div class="apt-detail-row">
                        <h3><span class="heavy">MILES: &nbsp;</span>{{servicesUpsellCtrl.mileage|number}}</h3>
                    </div>
                </div>
            </div>
            <div class="vehicle-blockR-in clearfix">
                <div class="vehicle-blockR-inL" style="background-image: url('img/ford-icon2.png');">&nbsp;</div>
                <div class="vehicle-blockR-inR">
                    <div class="apt-detail-row">
                        <h3><span class="heavy">DATE: &nbsp;</span>12/1/2016</h3>
                    </div>
                    <div class="apt-detail-row">
                        <h3><span class="heavy">TIME: &nbsp;</span>3:00 PM</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div id="service-wrap-scroll" class="clearfix">-->
    <div class="item-container-wrap">
        <div class="test-rows">
            <div class="items-container">
                <div class="service-item-block" style="display: none"></div>

                <div class="service-item-block" ng-repeat="service in servicesUpsellCtrl.upsell_services" match-height="">
                    <div class="service-item-block-top" style="background-image: url({{service.image_path !== undefined? service.image_path: 'img/services/batt1.png'}});">
                        <div class="service-item-block-top1">
                            <div class="clearfix" ng-if="service.price !== undefined">
                                <div class="service-item-block-price2">
                                    {{ service.price|number:2 }}
                                </div>
                                <div class="service-item-block-price1">
                                    $&nbsp;
                                </div>
                            </div>
                            <div class="service-item-block-top-details" ng-if="service.price_details !== undefined">
                                <div class="slide-disclaim-box-control" price-details=".slide-{{ service._id }}">
                                    <p>View Price Details</p>
                                </div>
                            </div>
                        </div>
                        <div class="service-item-block-top2">
                            <div class="roundedFour">
                                <input type="checkbox" ng-checked="servicesUpsellCtrl.checkboxStatus(service._id)" ng-click="servicesUpsellCtrl.update_choices( service._id )" value="None" id="product-selection-{{ service._id }}" name="service_checkbox">
                                <label for="product-selection-{{ service._id }}"></label>
                            </div>
                        </div>
                        <div class="slide-disclaim-box-content slide-{{ service._id }}" ng-if="service.price_details !== undefined">
                            <div class="slide-disclaim-box-content-in">
                                <div class="slide-disclaim-box-text">
                                    <h4>Price Details</h4>
                                    <p>{{ service.price_details }}</p>
                                </div>
                                <div class="slide-disclaim-box-control box-contol-modify" price-details=".slide-{{ service._id }}">
                                    <div class="box-contol-modify-button">Close</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-item-block-bottom">
                        <h2>{{ service.name }}</h2>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            </div>
        </div>


    <div class="manual-service-action">
        <a class="go-back" ng-click="servicesUpsellCtrl.backToService()">&nbsp;</a>
        <a class="go-next" ng-click="servicesUpsellCtrl.save_choices()">&nbsp;</a>
    </div>



    </div>
    <!--</div>-->

</div>

<!--<script type="text/javascript">-->
<!--(function() {-->

<!--$(function() {-->
<!--// apply your matchHeight on DOM ready (they will be automatically re-applied on load or resize)-->

<!--// get test settings-->
<!--var byRow = $('div').hasClass('test-rows');-->

<!--// apply matchHeight to each item container's items-->
<!--$('.items-container').each(function() {-->
<!--$(this).children('.service-item-block').matchHeight({-->
<!--byRow: byRow-->
<!--});-->
<!--});-->

<!--});-->

<!--})();-->
<!--</script>-->
