<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg">
    <div ng-if="serviceCreationPinPageCtrl.message">
        <!--SERVICE CREATION PIN FAILED NOTIFICATION-->
        <div class="final-payment-status clearfix">
            <div class="final-payment-statusR" ng-if="serviceCreationPinPageCtrl.message">
                <h1>{{serviceCreationPinPageCtrl.message}}</h1>
            </div>
        </div>
    </div>

    <div class="app-body-top" style="padding: 3em 0 1em 0;">
        <h1>Admin Login</h1>
    </div><!--END app-body-top-->
    <div class="register-block-wrap pin-collect clearfix">
        <h2>Please enter your pin number.</h2>
        <form name="pinForm" ng-submit="serviceCreationPinPageCtrl.update(pinForm.$valid ,serviceCreationPinPageCtrl.pin)">
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Pin Number</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input class="goKeyNumber" type="text" ng-model="serviceCreationPinPageCtrl.pin" name="pinField" required>
                    <span ng-show="serviceCreationPinPageCtrl.pin.$touched && serviceCreationPinPageCtrl.pin.$invalid">Pin Field is required.</span>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="midR-mod">
                    <input class="reg-button-image go-finish" type="submit" value="">
                </div>
            </div><!--END register-block-wrap-mid-->
        </form>
    </div><!--END register-block-wrap-->
    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->