<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg" style="overflow-x:hidden;overflow-y:hidden">
    <div class="app-body-top">
        <div class="get-back">
            <a href="#license-or-manual" ng-click="customerFormCtrl.backTohome()">
                BACK
            </a>
        </div>
        <h1>Customer Registration</h1>
        <h4>Please enter your information below to begin the process.</h4>
    </div><!--END app-body-top-->
    <div class="register-block-wrap manual-reg clearfix">
        <form name="customerForm" ng-submit="customerFormCtrl.update(customerForm.$valid ,customerFormCtrl.cust_form)">
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>First Name</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyName" ng-model="customerFormCtrl.cust_form.first_name" name="first_name" required>
                    <span ng-show="customerForm.first_name.$touched && customerForm.first_name.$invalid">First Name is required.</span>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Last Name</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyName" ng-model="customerFormCtrl.cust_form.last_name" name="last_name" required>
                    <span ng-show="customerForm.last_name.$touched && customerForm.last_name.$invalid">Last Name is required.</span>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Street</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyMail" ng-model="customerFormCtrl.cust_form.street" name="street">
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>City</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyName" ng-model="customerFormCtrl.cust_form.city" name="city">
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>State</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyName" ng-model="customerFormCtrl.cust_form.state" name="state">
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Zip</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input type="text" class="goKeyNumber" ng-model="customerFormCtrl.cust_form.zipcode" name="zip">
                </div>
            </div><!--END register-block-wrap-mid-->
            <!--<div class="register-block-wrap-mid clearfix">-->
            <!--<div class="register-block-wrap-midL">-->
            <!--<h3>Pin</h3>-->
            <!--</div>-->
            <!--<div class="register-block-wrap-midR">-->
            <!--<input type="number" ng-model="customerFormCtrl.cust_form.pin" name="pin" ng-minlength="4" ng-maxlength="4" required>-->
            <!--<span ng-show="customerForm.pin.$touched && customerForm.pin.$invalid">4 digit pin required</span>-->
            <!--</div>-->
            <!--</div>&lt;!&ndash;END register-block-wrap-mid&ndash;&gt;-->
            <div class="register-block-wrap-mid clearfix">
                <div class="midR-mod">
                    <input class="reg-button" type="submit" value="Submit">
                </div>
            </div><!--END register-block-wrap-mid-->
        </form>
    </div><!--END register-block-wrap-->
    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->