<!--DROP OFF MAIN LOGIN-->
<div class="app-body-inner-bg">
    <div class="app-body-top" style="padding: 3em 0 1em 0;">
        <h1>Hi, {{pinPageCtrl.customer_name}}!</h1>
    </div><!--END app-body-top-->
    <div class="register-block-wrap pin-collect clearfix">
        <h2>Please enter your PIN number.</h2>
        <form name="pinForm" ng-submit="pinPageCtrl.update(pinForm.$valid ,pinPageCtrl.form)">
            <div class="register-block-wrap-mid clearfix">
                <div class="register-block-wrap-midL">
                    <h3>Pin Number</h3>
                </div>
                <div class="register-block-wrap-midR">
                    <input class="goKeyNumber" type="text" ng-model="pinPageCtrl.pin" name="pinField" required>
                    <span ng-show="pinForm.pinField.$touched && pinForm.pinField.$invalid">Pin Field is required.</span>
                    <span ng-show="pinForm.pinField.$touched && !pinPageCtrl.isCorrect">This pin is not correct.</span>
                </div>
            </div><!--END register-block-wrap-mid-->
            <div class="register-block-wrap-mid clearfix">
                <div class="midR-mod">
                    <input class="reg-button-image go-finish" type="submit" value="">
                </div>
            </div><!--END register-block-wrap-mid-->
        </form>
    </div><!--END register-block-wrap-->
    <script src="js/keyboard/keyboard.js"></script>
</div><!--END app-body-inner-->